[2015-02-21 18:20] eregon opened #28 "Is the migration to ruby/rubyspec complete?"
@hsbt Is the migration to ruby/rubyspec complete?
It looks good to me!

[2015-02-22 10:00] hsbt commented on #28
@eregon I create "rubyspec" team and added you into it team. Please start to migrate archive branch into ruby branch of this repository. ( I think it's better to rename ruby branch to master branch when migration is finished )

[2015-02-22 10:52] eregon commented on #28
Thanks!
Agreed, a branch ruby/ruby is sort of confusing.

[2015-02-22 10:52] #28 closed

[2015-02-24 17:03] eregon opened #34 "What to run?"
Currently mspec is run without any argument, which means it defaults to `:files`, which is:
[code]

Should we run `:optional` (the same as `:capi`)?
Should we run `command_line`?
Both pass on rubies 2.0 - trunk.
I think we should run them by default since they do not take long and improve coverage.

[2015-02-24 17:10] eregon opened #35 "Slow tests"
Currently a few tests are really slow and take a considerable amount of the total time (require, deamon and timeout take > 20s over 66s).
Passing `-fp` shows the time per `describe` and `it`:

[code]

The `require` have a long justification in source code but maybe we could use a Mutex instead to check if inside the require and the other thread use `Mutex#locked?` or similar usage to coordinate th

[2015-02-25 07:16] hsbt opened #38 "master branch is broken status on rubyci"
see http://rubyci.blob.core.windows.net/centos7/ruby-trunk/log/20150225T050002Z.fail.html.gz

I investigate this. I found some broken specs.

1. mkdir work (it's temporary dir)
2. git clone mspec
3. git clone rubyspec
4. run follow command

[code]

I got this fail.

[code]

[2015-02-25 07:17] hsbt commented on #38
I changed default branch to ```ruby``` and force pushed yesterday status. because we have release plan of new version of Ruby in this month.

[2015-02-25 08:53] eregon commented on #38
I cannot reproduce with `ruby 2.3.0dev (2015-02-25 trunk 49725) [x86_64-linux]`, any idea what might be the cause?
I did:
[code]

[2015-02-25 08:56] hsbt commented on #38
I already fixed codepoinsts_spec.rb

[2015-02-25 08:57] hsbt commented on #38
@nobu and me fixed some specs, but following examples still failed. Please see this lists: https://gist.github.com/hsbt/df6cf7bb7029c6cdb691

[2015-02-25 09:03] eregon commented on #38
These failure seem to only happen when you run with cwd above the rubyspec and mspec directories, right?
I am used to run locally in the rubyspec dir like this:
[code]

[2015-02-25 09:06] hsbt commented on #38
Yes. but rubyci uses mspec and rubyspec outside their directory.

[2015-02-25 09:16] eregon commented on #38
This is due (at least the first of the list) to lack of specifying the config file, for instance
[code]

Now, I do agree this is still a bug in rubyspec in that that final test should be guarded with
`with_feature :encoding do`, but I would think Ruby CI should use the config file to enable encoding specs, no?
Or do you run both with and without config on Ruby CI?

[2015-02-25 09:20] eregon commented on #38
In particular, http://www.rubyist.net/~akr/chkbuild/debian/ruby-trunk/log/20150225T064600Z.log.html.gz#rubyspec uses `rubyspec/ruby.1.9.mspec` which does not exist!
MSpec should definitely not swallow the error, but this should be changed to ruby.2.3.mspec (or ruby.mspec if you agree on https://github.com/ruby/mspec/issues/4).

[2015-02-25 09:25] hsbt commented on #38
Note: chkbuild is https://github.com/akr/chkbuild

[2015-02-25 10:13] eregon commented on #38
Do you want to fix these failures due to lack of config file?

[2015-02-25 10:50] eregon commented on #38
Should master be the default branch again?

[2015-02-25 12:12] eregon commented on #38
I will fix the one related to the encode helper.

[2015-02-25 13:58] eregon commented on #38
Closing this one as it is getting quite long, please reopen if there is any issue :)

[2015-02-25 13:58] #38 closed

[2015-02-26 00:33] hsbt commented on #38
@eregon I changed default branch to ```master```, Now, some examples are still fails. I will create new issue.

[2015-03-06 07:13] nurse opened #50 "Decision process of future rubyspec"
Current rubyspec doesn't have its own decision process. I worry that rubyspec becomes patch works. As far as I understand rubyspec should decide coding style (how to write specific specs, what helpers should be added, and so on).
I think, rubyspec should also adopt the honest dictator model. People who want to change rubyspec will talk with the dictator.

How do you think?

[2015-03-06 10:57] eregon commented on #50
Agreed, we need some coding style and rules.

I am not sure what you mean by "the honest dictator model", could you elaborate a bit?

I do think there should not be only one person able to accept changes in RubySpec, that is fundamental for me.
And I think coding style/rules should be established based on the existing ones and should be agreed by most concerned parties (MRI committers contributing

[2015-03-08 14:10] anthonycrumley commented on #50
Concerning coding style, here are some links to the rubyspec website repo for current style which may be helpful.
* https://github.com/rubyspec/rubyspec.github.io/blob/archive/organization.markdown
* https://github.com/rubyspec/rubyspec.github.io/blob/archive/style_guide.markdown

Concerning project process, the process from the ZeroMQ community has a lot of ideas that I like (http://rfc.zeromq.or

[2015-03-09 06:54] nurse commented on #50
Like Ruby or Rails, a decision is done by a person like matz or DHH. This is better than committee model on bikeshed issues like naming or styles, or fundamental issues like what should RubySpec cover, or fundamentally they must define "What is RubySpec". Of course they must consider concerned parties and resolve their conflicts.

In other words, they must handle nobu, who has his own vision.

[2015-03-09 06:58] nurse commented on #50
For example, they must decide (or defer) #34 even if there are no comments.

[2015-03-09 07:10] ko1 opened #51 "Singleton class + namespace"
rubyspec should contain this spec.
https://bugs.ruby-lang.org/issues/10943

[2015-03-09 09:56] eregon commented on #50
@nurse I see, but like matz or DHH the honest dictator would not need to get involved for merging a straightforward change? Who would be that honest dictator?

[2015-03-09 10:05] nurse commented on #50
@eregon Yes, daily merging don't need them. Who would be is difficult issue. I had expected brixen could be that...

[2015-03-09 10:32] eregon commented on #51
I'll write it, thanks for the reminder!

[2015-03-09 11:10] ko1 commented on #51
:+1:

[2015-03-09 12:04] #51 closed

[2015-03-09 12:04] eregon commented on #51
See 23095b7, what do you think?

[2015-03-09 12:11] ko1 commented on #51
:100:

[2015-03-09 14:41] anthonycrumley commented on #50
I think that would be "Benevolent Dictator".  http://en.wikipedia.org/wiki/Benevolent_dictator_for_life

[2015-03-09 15:07] anthonycrumley commented on #50
The person chosen for this role needs to be "Benevolent" enough to resolve conflict without creating more conflict.  Yet, they need to have a vision of what the project should be and make difficult decisions that some people won't like.  They need to be able to move the project along without causing detrimental forks.

They also need to be a person who is able to build up a community around RubySp

[2015-03-09 15:16] anthonycrumley commented on #50
I like this definition of "Benevolent Dictator".  http://en.wiktionary.org/wiki/benevolent_dictator

[2015-03-09 15:20] nobu opened #53 "Dir#read test"
`core/dir/read_spec.rb` just tests only one entry.
I think it should be tested that all results are included in the `Dir#entries` result, and it returns `nil` after all entries are read.

How can I write tests for this kind of sequence behavior in mspec?

[2015-03-09 16:37] anthonycrumley commented on #53
There is a spec file for each method, so `Dir#entries` behavior is specified in `core/dir/entries_spec.rb`.  The following may cover the behavior of all results being included in the `Dir#entries` result.

https://github.com/ruby/rubyspec/blob/master/core/dir/entries_spec.rb#L17-L24

Seems that there should be a specification for `Dir#read` in `core/dir/read_spec.rb` for the behavior after all ent

[2015-03-09 17:21] eregon commented on #53
Something like:
[code]

[2015-03-09 17:24] eregon commented on #53
It might be worth splitting to specify
`it "returns nil when there are no more entries"` and
`it "returns each entry successively"`
separately for clarity. But this seems a bit nitpicking.

[2015-03-12 15:13] #53 closed

[2015-03-18 12:53] eregon opened #54 "ruby_bug guards"
Should we prefer MSpec *tags* to `ruby_bug` guards?
All other implementations use tags, that is files listing excluded specs to ensure all good specs are still good and not run known failing specs.

MRI situation is a bit different as it is the *reference* implementation. But I am wondering if `ruby_bug` is really worth it.
Using tags instead would mean we would have tag files in some repository (

[2015-03-18 12:57] eregon opened #55 "Maintaining RubySpec for 2.0"
Maintaining RubySpec for ruby 2.0.0 releases tends be a much bigger challenge than >= 2.1 versions.

Failures often happen on Travis for hard-to-track reasons (https://travis-ci.org/ruby/rubyspec/jobs/54859872 for instance). I am not sure how we can fix these. @nobu, any idea? :smile:
Locally I have 11 failures + 2 errors with 2.0.0p643 which also seem non obvious to fix (badly-encoded strings, EB

[2015-03-18 13:11] headius commented on #54
I'm on the side of not using ruby_bug, mostly because it favors one implemention over all others, forcing the others to run specs that are skipped in MRI. We have argued against its use since the beginning.

Addressing the pros of ruby_bug:

* Version guards already exist, and using them would allow other impls to set their version and know they're not running specs that don't apply. As it is now,

[2015-03-18 13:11] eregon commented on #55
An example of 12 failures + 2 errors, similar to what I have locally:
https://travis-ci.org/ruby/rubyspec/jobs/54864322

[2015-03-18 14:12] eregon commented on #54
Most of the current `ruby_bug` guards are also for versions below 2.0, in which case we can safely remove them I think.

[2015-03-20 19:20] anthonycrumley commented on #54
I am against using ruby_bug as well.  I may be off base with my next statement because I am new to all this and my thoughts are not seasoned with the experience you guys have.

It seems to me that tags should not be used by MRI either.

RubySpec is currently a descriptive specification rather than a prescriptive one.  It should accurately describe the way MRI behaves regardless of whether that beh

[2015-03-20 19:45] eregon commented on #54
@anthonycrumley Yes, `ruby_bug` should only be used for actual bugs, like segfaults or behavior reported on the issue tracker and recognized as bugs.
I agree the Fiber#resume `ensure` example is a bad spec. Behavior is not like that and there is no concrete plan to fix it, so leave it unspecified or specify current behavior.
Having some way to specify accepted alternative behaviors might be useful

[2015-03-20 22:19] anthonycrumley opened #56 "Encoding issue with Dir.glob and Dir.[]"
These encoding failures are only happening in Ruby 2.2.  Anyone else see this?

[code]

[2015-03-21 01:05] anthonycrumley opened #57 "SizedQueue not specified"
SizedQueue behaves very much like Queue.  Shared behavior like that seems to be generally specified in a shared/queue folder where the individual objects are specified in library/queue and library/sizedqueue respectively.  The individual object specifications then use it_behaves_like for the shared behavior.

Is this the way to specify two very similar objects like this or is there another way?

T

[2015-03-21 15:04] eregon commented on #57
Maybe they should be in library/thread/queue and library/thread/sizedqueue (and share in library/thread/shared) since
[code]
(they are not part of core, rubygems loads the thread library)

`mkspec` (from mspec) can be used to generate the initial files:
[code]
Using `it_behaves_like` is indeed the recommended way AFAIK to share specs. Sharing this way tends to make the specs harder to read and the

[2015-03-21 18:09] anthonycrumley commented on #57
Thanks for the feedback.  :smile:

It looks like Queue and SizedQueue moved to core in 2.2.

http://ruby-doc.org/core-2.2.1/Queue.html
http://ruby-doc.org/core-2.2.1/Queue.html

I'm not sure what to do when things move around like that between versions.  Which ever place we put them, core or library, it will be wrong in some versions of Ruby.  Maybe they should be moved to the place that they belo

[2015-03-21 18:41] eregon commented on #57
I think they are not in core, this is probably a bug of rdoc or ruby-doc.org.
There is some ongoing discussion about it though: https://bugs.ruby-lang.org/issues/8919 but it seems it is not yet done.
Same goes for ConditionVariable by the way, which I think might be worth specifying (its behavior is rather surprising compared to typical implementations in that it allows to be associated with multi

[2015-03-22 04:40] nurse commented on #54
I'm ok to eliminate ruby_bug after someone contribute MSpec tags for Ruby 2.0+.

[2015-03-22 11:19] eregon commented on #54
I'll start by removing `ruby_bug` for versions < 2.0.
@nurse Is it OK to contribute these tags to the MRI repo, in each concerned branch (trunk, ruby_2_2, ruby_2_1, ruby_2_0_0)? Or do you want an alternative?

[2015-03-22 14:27] anthonycrumley commented on #57
Thanks for clarifying all that!!  I will put them under library/thread.

[2015-03-29 20:57] anthonycrumley commented on #55
This is sorta related.  Some behavior seems to have not been considered in one version and then consideration for it is added in a later version.  An example is TypeError in SizedQueue#new.
[code]
[code]
Should we specify the behavior of 2.0 in this case or just specify the purposeful behavior of 2.1+?  It seems that 2.0 did not explicitly handle non-numeric arguments so the NoMethodError and Argu

[2015-03-29 21:45] eregon commented on #55
In general, it is always best to describe all maintained versions.
In the case of 2.0 areas like keywords arguments, I tend to feel it is worth an exception since in many cases the behavior was just not defined.
In this particular situation, I think it is fair enough to not specify 2.0 behavior since it does not bring much and it would be fairly hard to express the intention. However, specifying i

[2015-03-29 21:47] eregon commented on #55
Specifying the latest stable version is what matters to most users of RubySpec, so I would think spending considerable time on specifying exceptions of older stable versions is probably not worth it.

[2015-03-30 10:15] anthonycrumley commented on #57
Completed by #59.

[2015-03-30 10:15] #57 closed

[2015-04-14 13:11] eregon commented on #55
It seems all these failures are due to some bad interaction between the SpinnerFormatter and ARGF/IO specs. Using the dotted formatter "magically" fixed the build:
https://travis-ci.org/ruby/rubyspec/builds/58433618

[2015-04-14 15:57] eregon opened #61 "Notifications"
Now that Travis is green again https://github.com/ruby/rubyspec/issues/55#issuecomment-92818623,
I think we should enable notifications when the build is broken.
Of course there will be false negatives if the change applies on trunk but Travis's trunk is not yet updated. But it would be quite good for any other change.

Who wants to get notified? The committer and author, Travis' default?

[2015-04-14 15:58] eregon commented on #61
And similarly for MSpec, with the advantage of no false negatives.

[2015-04-14 15:59] eregon commented on #56
I do not.

[2015-04-30 13:00] headius opened #62 "What to do with Rubinius specs"
RubySpec never really died, it just split into two worlds: the ruby/rubyspec world, managed by ruby-core and JRuby committers; and the rubinius world. Both worlds have continued to add specs. Only the ruby/rubyspec world has committed to staying compatible (or rather, only that world has the keys to Ruby's future).

I'm wondering what if anything we should do with specs the Rubinius folks continue

[2015-04-30 13:01] headius commented on #62
The specs that prompted me to file this issue are recent additions for prepend. They *may* be mostly covered by MRI's tests, but I have not audited them in detail yet.

[2015-05-19 16:58] eregon commented on #62
Yeah, let's ask rubinius/rubinius!

[2015-05-19 22:19] benlovell commented on #56
I'm seeing the same when running these specs with 2.2.2. I'm taking a look at this now...

[2015-05-20 08:58] eregon commented on #56
Which OS are you on? I think this is platform dependent and might have been already fixed in the MRI ruby_2_2 branch.

[2015-05-20 10:25] benlovell commented on #56
OS X.

[2015-05-21 13:20] eregon commented on #62
Per https://github.com/rubinius/rubinius/issues/3403, we could try importing their new specs if they are compatible enough, or just cherry-pick if not.
I intend to have a look in a few days.
Do you have other special interests beyond `Module#prepend` and related?

[2015-05-22 02:21] headius commented on #62
Those were the specs I noticed most recently. Cherry-picking or hand
copying is certainly sufficient. It is too bad they don't want to collab on
the new rubyspec, but yay for OSS.

[2015-05-24 16:36] chrisseaton opened #68 "printf/sprintf/String#% specs are very limited"
These methods could have the majority of specs shared between them as they do basically the same thing.

The quantity and organisation of the specs here is also very limited. Many of the examples I think come from other test setups and are just added with descriptions such as 'passes kstephens's tests'.

We could do with copying the example in the specs for Array#pack and String#unpack, where test

[2015-05-25 01:03] eregon commented on #50
I would like to propose myself as benevolent dictator of the new RubySpec at ruby/rubyspec.

Does someone else want this role?
It seems very clear brixen does not want it anymore at least.

My main goal is to augment contributions while maintaining good project standards in order to improve the coverage and the quality of the specs.

@nurse @hsbt @headius @anthonycrumley Do you agree with this?

[2015-05-27 04:30] nurse commented on #50
Agree!

[2015-05-27 16:13] eregon commented on #61
The default notifications have been adopted, so the commit author will receive an email if the build fails or fixed the build. See 72e4b19b42b288907c1839f5fc8d0930c9881429. MSpec already has the default notifications enabled.

[2015-05-27 16:13] #61 closed

[2015-05-27 16:34] #56 closed

[2015-05-27 16:43] eregon commented on #56
@anthonycrumley @benlovell
My last commit should have fixed the failure,
could you try to run the dir specs on OS X to confirm?

In MRI there is a special path for OS X, which is why the behavior differs between Linux and Darwin.

[2015-05-27 17:45] benlovell commented on #56
@eregon I had to make some tweaks. See #69

[2015-05-27 20:51] anthonycrumley commented on #50
:+1:  Agree!

[2015-05-28 00:24] hsbt commented on #50
Agreed!

[2015-06-04 22:36] eregon commented on #62
I merged most specs (68 commits) from the rubinius repository.
I reviewed quickly all of them and skipped a few bad specs.

It is not really trivial as both repositories do not a share a common ancestor.

The starting point (last common commit) was:
`Added specs for CAPI function rb_cloexec_open`
rubinius/rubinius@94a7ce1b85db4c57438e56b67acb36d912021cae
rubyspec/rubyspec@671ef6d32637fef783e82c129

[2015-06-04 22:37] #62 closed

[2015-06-05 10:07] eregon commented on #62
The merge point for next time is
`39be273c892e1c839d119587882d149902260ab3`
in the filtered branch.

[2015-06-06 12:35] #55 closed

[2015-06-06 12:48] eregon opened #72 "Having a separate branch for Ruby 2.0.0 ?"
I am thinking to have a separate branch for ruby 2.0.0 as it behaves quite differently from newer versions.
Getting the build stable is almost impossible as it fails with [EBADF](https://travis-ci.org/ruby/rubyspec/jobs/65571824) or what looks like [encoding confusion](http://rubyci.blob.core.windows.net/arch/ruby-2.0.0/log/20150606T101112Z.fail.html.gz).
Maintaining proper guards for 2.0 is also

[2015-06-07 16:36] eregon commented on #34
Fixed by e5d0bd0e0ddce902d75c0b487a1c0af2a784d954 and 261855acbbe8c2ce1b15bc57991517f9a6f7453a.
All specs are now ran on Travis.
(Readline specs are still currently excluded for all runs, I plan to enable them if they prove stable enough)

[2015-06-07 16:36] #34 closed

[2015-06-08 02:58] nurse commented on #72
As far as I understand, EBADF is caused because someone closed the fd in object finalization. It happens by for example IO.for_fd with autoclose. Therefore it happens accidentally on 2.0.0 now, but it may disappear and appear on another branch with adding or removing specs.
Encodings issues seems because locale difference. It can be fixed with setting locale or default_external or soemthing.
Anywa

[2015-06-08 06:37] akr commented on #72
RubySpec on Ruby 2.3 still fails with EBADF such as:
http://www.rubyist.net/~akr/chkbuild/debian/ruby-trunk/log/20150514T200400Z.log.html.gz

test-all uses test/lib/leakchecker.rb to detect several kind of leaks including possible EBADF.
It may be considerable to implement similar mechanism in RubySpec.

[2015-06-12 23:35] hsbt opened #76 "Add Array#bsearch_index specs"
we added new method named "Array#bsearch_index"

see https://github.com/ruby/ruby/commit/c64d283f9aa01388ebfd2d9d30b0f0a306f25d27

[2015-06-13 12:43] eregon commented on #72
@akr Thanks, I will try integrating it into MSpec, early results seem very useful.

The ARGF specs seem rather tricky. It seems MRI mostly spawns a new Ruby to "reset" ARGF and not leak open files. Spawning sub-rubies is however rather expensive, especially on alternate implementations.
I am thinking to use `ARGF.class.new` so the original ARGF is left untouched and if we only have two files as in

[2015-06-14 15:10] JuanitoFatas commented on #76
I'll work on it :smile:

[2015-06-14 15:23] eregon commented on #76
@JuanitoFatas Thanks :+1:
Maybe it can somehow be shared with `Array#bsearch`.

[2015-06-15 16:59] #76 closed

[2015-06-15 17:18] eregon commented on #76
Fixed by @JuanitoFatas!

[2015-06-16 00:26] hsbt commented on #76
@JuanitoFatas Thanks!

[2015-06-17 21:52] ko1 opened #84 "Failed when using symlink to another disk"
My build environment is a bit strange because I use "/mnt/sdb1/ruby" for another disk and I put link to "/home/ko1/ruby" (ln -s /mnt/sdb1/ruby /home/ko1/ruby).

Recent changes, there are two failed on such an environment.

[code]

Thanks,
Koichi

[2015-06-17 22:58] #84 closed

[2015-06-17 23:00] eregon commented on #84
@ko1 Should be fixed, could you confirm?

I have 10 failures related to `require` specs when running in a similar setup, do you see them as well?

[2015-06-17 23:18] ko1 commented on #84
Thank you for quick fix. I confirm the reported issues are fixed.

And, Yes, I have 10 more failures around $LOAD_FEATURES.

[2015-06-17 23:38] eregon commented on #84
I will fix as well.

[2015-06-17 23:50] eregon commented on #84
@ko1 Now all specs should *just work*<sup>:tm:</sup>!
(with latest mspec and rubyspec)

[2015-06-18 00:51] ko1 commented on #84
@eregon Great!
I confirmed it.

[2015-06-22 09:15] eregon commented on #72
It looks like 2.0.0 on Travis and RubyCI only has 1 or 2 errors/failures after my efforts to track down most fd leak, yet there there is still one EBADF on some builds of 2.0.0. I am not sure where it comes from, but I would guess some well hidden usage of `IO.for_fd`/`IO.new`.

[2015-06-30 08:51] eregon commented on #72
It would seem that 69e6d7184cdbbcbf3ed5a68fc2b065d9f3e4c71a actually removed the last source of EBADF on 2.0.0.
I tracked it down with `GC.stress = true` while running IO specs.

So, let's keep 2.0.0 in master.

[2015-06-30 08:51] #72 closed

[2015-07-15 09:11] eregon commented on #62
I merged until rubinius/rubinius@291c7c7d07114e3787465418fb56bae841802456 on June 26.

[2015-07-27 09:44] eregon commented on #62
I merged until https://github.com/rubinius/rubinius/commit/9aa7833c1a0a2e3cd2a363441eb18b97489f182d on July 27.

[2015-07-30 11:15] bruno- commented on #50
:+1:
long live rubyspec

[2015-07-30 11:25] eregon commented on #50
I guess we can close this :smile:

[2015-07-30 11:25] #50 closed

[2015-08-28 10:15] eregon commented on #62
I merged until rubinius/rubinius@dbd33a6dadd407041fcafa6651986ae02551f3ee on August 28.

[2015-09-04 16:45] ko1 opened #120 "unable to find out ruby.h"
https://travis-ci.org/ruby/ruby/jobs/78775640

[code]

[2015-09-04 18:46] eregon commented on #120
It seems due to a bug of the recent changes to `fake.rb`.
@nobu Can you fix in `fake.rb` and/or in rubyspec if the logic is incorrect?

[2015-09-05 09:18] eregon commented on #120
Seems to work now, but the generated config does not seem optimal, in particular:
[code]

[2015-09-05 09:18] #120 closed

[2015-09-05 09:40] ko1 commented on #120
Thank you!

[2015-09-07 15:20] ngoto opened #121 "On Solaris, The DATA constant succeeds in locking the file DATA came from FAILED"
moved from https://github.com/ruby/mspec/issues/12 and modified.

[code]

On Solaris, write access is needed to lock a file.
This is well known difference of behavior between Solaris and Linux.
As far as I know, no official spec is defined for flock and the behavior of flock is platform specific.
DATA is opened by Ruby interpreter with read-only mode.
So, I think the spec should be skipped on Sola

[2015-09-07 15:29] ngoto opened #122 "On Solaris, some File#flock specs failed"
On Solaris, some specs about File#flock failed.
On Solaris, the following specs in core/file/flock_spec.rb failed.

[code]

On Solaris, file locks by using File#flock belong to its process, not belong to file descriptors.
So, flock to the same file in a single process always succeeds.
To examine flock on Solaris, locking a file from different process is needed.

[2015-09-07 15:31] ngoto commented on #122
split from https://github.com/ruby/mspec/issues/12

[2015-09-07 16:42] eregon commented on #121
Yes, this sounds right, thank you for the fix and the analysis!

[2015-09-07 16:42] #121 closed

[2015-09-08 09:07] #122 closed

[2015-09-09 13:57] ngoto opened #125 "On NFS filesystem, File::Stat#<=> is able to compare files by the same modification times FAILED"
On Debian GNU/Linux 7.8 (amd64) and on Solaris 10 (sparc), the following failure is observed when running the spec on NFS network file system.

[code]

This failure is caused by NFS cache. NFS cache lifetime is 1 second, and time stamps of a file is used to determine whether the cache for the file should be flushed or not.

The following simple patch to set 1 second ago timestamps solved the probl

[2015-09-09 15:06] ngoto opened #127 "needless "platform_is :solaris" in core/math/atan2_spec.rb"
The 3 failures about Math.atan2 are observed on Solaris 10 on Sparc architecture.

[code]

In core/math/atan2_spec.rb, the above 3 specs are guarded by "platform_is :solaris", introduced by the commit ac7ca51b22fa8e5891a69d8b67f71a8616cfea4c.
However, the behavior of Math.atan2 is completely the same as that of other platforms, and these are apparently inappropriate and unnecessary.

The code and

[2015-09-10 12:17] #125 closed

[2015-09-10 12:25] #127 closed

[2015-09-24 17:32] ngoto opened #134 "On Solaris, Rational#** returns Infinity for Rational(0, 1) passed a negative Float FAILED"
On Solaris 10 running on SPARC architecture CPU, the following spec fails.

[code]

Source code of the spec is:
[code]

When running the spec, Rational(0,1) is implicitly converted to Float value 0.0, and the libm function pow(0.0, -1.0) is called.

On Solaris, the return value of pow(0.0, -1.0) varies depending on compile-time options.

http://docs.oracle.com/cd/E37069_01/html/E39019/z4000ac61047

[2015-09-25 10:10] eregon commented on #134
This is a tricky one.

In general, I would say `libc`-dependent behavior should be specified in a way that is not reliant on a specific libc implementation.
I think the specs which fail because of old time zones or time zone changes fall into the same category.

One could of course argue Ruby should unify such system-dependent behavior, but in some cases it does not make much sense, particularly w

[2015-09-29 13:48] eregon commented on #62
I merged specs in the [2.2 branch](https://github.com/rubinius/rubinius/commits/2.2/spec/ruby) until https://github.com/rubinius/rubinius/commit/da448d50480d01de272ff222267ebc626bf4bd07 on September 29.

[2015-10-11 21:01] eregon commented on #134
I reported the issue on the Ruby tracker as it seems worth discussing in general.
https://bugs.ruby-lang.org/issues/11582

[2015-10-12 13:28] eregon commented on #54
There are only 2 `ruby_bug` left, which should be removed or replaced with appropriate version guards once we get a reply on the bug tracker. Therefore, I'll close this and consider `ruby_bug` deprecated. (`ruby_version_is` is often the better alternative if it is not fixed on older versions)

[2015-10-12 13:28] #54 closed

[2015-10-16 10:47] deivid-rodriguez opened #146 "Detach repo from rubyspec/rubyspec"
Hi!

Currently `ruby/rubyspec` doesn't show up in github searches because it's a forked repo. Instead, `rubyspec/rubyspec` shows up so some people might get the idea that the project is actually dead when it's not (specially twitter-less people like me :) ). Maybe it makes sense to detach the repo from `rubyspec/rubyspec` (and credit the original repo somewhere in the README instead, for example).

[2015-10-16 11:26] eregon commented on #146
You are right, I need to clarify this on GitHub.

[2015-10-28 18:20] #134 closed

[2015-10-28 18:22] eregon commented on #134
I added a guard to not test this on Solaris since the behavior is not consistently the same.
If this gets consistent in Ruby itself, we can of course always remove that guard or specify better what should be expected on Solaris.
https://bugs.ruby-lang.org/issues/11582 is there for reference.

[2015-11-19 16:28] headius opened #162 "Unsure how to spec out literal hash string key encoding behavior"
For jruby/jruby#3405, a bug reporter noted behavioral issues in JRuby's handling of String keys to Hash instances.

The correct behaviors are listed below, with JRuby 9.0.4.0 behavior noted where it differs:

* MRI freezes *and* deduplicates literal String keys in literal Hashes. JRuby 9.0.4.0 deduplicates all String keys inserted into any Hash.
* Frozen string deduplication must not change the en

[2015-11-19 16:33] headius commented on #162
It also occurs to me the test script from jruby/jruby#3405 is not quite correct also; we should be confirming the encodings of literal String keys in literal Hashes for multiple encodings, which is not possible without having separate files with explicit encoding magic comments. Tricky, tricky...

[2015-11-19 17:02] eregon commented on #162
Maybe we could have multiple fixtures files with different magic encodings, which we would `require`, and then add string literals to some shared Hash?

[2015-11-19 17:04] eregon commented on #162
But indeed, a Hash literal with String literals of different encodings seems hard to produce.

[2015-11-19 17:09] headius commented on #162
Yes, I suppose these would be fixtures, like fixtures/hash_with_ascii_keys.rb, fixtures/hash_with_utf8_keys.rb. I'll see if I can come up with something today.

[2015-11-19 17:17] eregon commented on #162
I think specifying JRuby-like behavior (not only literal strings) would already be useful, so if the first spec spots the bug in JRuby, it's already a valuable addition.

For the literal-literal case, then indeed having a Hash literal with UTF8 literals in a file, and another file with Hash and keys of another encoding (but same bytes) should show the issue if there is global dedup table.

[2015-11-20 20:16] headius commented on #162
The fixture approach worked out nicely. Spec is pretty simple and it does appear to show JRuby 9.0.4.0 failing and 9.0.5.0 working correctly.

[2015-11-20 20:16] #162 closed

[2015-11-20 20:17] headius commented on #162
I'm going to opt to punt on any specs for global deduplication right now, since it is intended in Ruby 2.2+ (and probably 3.0, and definitely in Java's interned strings) to be a side effect you should not rely upon.

[2015-11-21 09:17] eregon commented on #162
Awesome!
Yes, I would consider deduplication to be an impl-dependent optimization (at least before Ruby 3.0).

[2015-11-28 12:18] eregon commented on #62
I merged https://github.com/rubinius/rubinius/commit/fcf450d47a33aed9f9cebc58ede42df92b340b6e from master and until https://github.com/rubinius/rubinius/commit/649739c34bcda5020fd0da52c8a3e60137f5da9e on the 2.2 branch.

[2015-12-14 16:44] eregon commented on #146
This is fixed as ruby/rubyspec is now the root repository! :tada:
And it indeed appears first in github searches :smiley:

[2015-12-14 16:44] #146 closed

[2015-12-14 16:45] elia commented on #146
:rocket:

[2015-12-14 22:23] hsbt commented on #146
Great!

[2015-12-14 22:24] hsbt commented on #146
@eregon Should we detach ruby/mspec too?

[2015-12-14 23:08] eregon commented on #146
@hsbt mspec and the rubyspec website are already roots of their networks as well :wink:

[2015-12-15 00:31] vais commented on #146
Long live RubySpec!

[2015-12-15 00:44] hsbt commented on #146
@eregon oh. I confirmed to mspec is root repository at https://github.com/ruby/mspec. but ruby organization view shows still forked repository.

<img width="327" alt="screenshot 2015-12-15 09 41 45" src="https://cloud.githubusercontent.com/assets/12301/11798663/433e7adc-a310-11e5-893d-0f89e54ef059.png">

I think it's github's internal issue :octocat:

[2015-12-16 20:05] eregon commented on #146
@hsbt It seems fixed now.

[2015-12-16 20:30] eregon commented on #35
I fixed the `require` specs to be much faster and to not rely on `sleep` anymore.

Updated list:
[code]

[2015-12-16 20:54] eregon opened #175 "Ruby 2.3 specs"
We should aim to write specs for all new features, as usually the coverage is rather limited and it would greatly help other implementations to get the behavior right and faster.

From https://github.com/ruby/ruby/blob/v2_3_0/NEWS:
Only relevant items are kept for brevity.
## Changes since the 2.2.0 release
### Language changes
- frozen-string-literal pragma:
  - [x] 8a769004ae039ac1d676d1f3a836e6

[2015-12-18 02:58] ngoto opened #176 "With 652d33279aa242623e09e671233832ace29f1f49, core/kernel/spawn_spec.rb stalls forever on Solaris"
After 652d33279aa242623e09e671233832ace29f1f49, core/kernel/spawn_spec.rb stalls forever on Solaris 10.
With 652d33279aa242623e09e671233832ace29f1f49, it seems that 'ruby -e "sleep"' is spawned, but this process apparently never ends, and the parent spec process waits the never-ending process forever. So, I think the change is wrong and I reverted the commit.

[2015-12-18 02:58] ngoto commented on #176
4960e9804f77ebfcb253a67e41e943e208e27be5 reverts the commit 652d33279aa242623e09e671233832ace29f1f49

[2015-12-18 09:22] eregon commented on #176
But this means that `read_nonblock` is actually blocking on Solaris, even if the other end of the pipe is closed?

[2015-12-18 09:59] eregon commented on #176
These specs are quite confusing however :/, could be much easier to just `open()` and check the fd number.

[2015-12-18 13:12] ngoto commented on #176
No, read_nonblock never blocks, and raised expected errors.
It blocks at "Process.wait(pid)".
During make test-rubyspec, RUBY_EXE is a wrapper script that invokes true ruby binary.
So, "Process.kill(:TERM, pid)" only kills the wrapper script and the execution of 'ruby -e "sleep"' invoked by the wrapper runs forever.

[2015-12-18 13:26] eregon commented on #176
I see, thanks for investigating.
Maybe the wrapper should forward SIGTERM to the spawned ruby?

[2015-12-18 13:42] ngoto commented on #176
It is not because of the wrapper script, but system's shell (normally /bin/sh).
Process.spawn(ruby_cmd("sleep")) runs ruby with the shell, and returns the pid of the shell process.
On Solaris, when sending SIGTERM to the shell process, it waits for the finish of the child ruby process, but never sends signals to the child ruby.

[2015-12-18 14:36] eregon commented on #176
Ah, unfortunate indeed.
So I guess we should either make the Ruby process write its PID somewhere,
or make it so that just its exit status is enough to know success/failure.

[2015-12-19 06:50] ngoto commented on #176
I think using signal is bad idea. The behavior of signals could be different depending on OS and shell.

[2015-12-19 11:37] eregon commented on #176
Agreed, thanks for the fix!

[2015-12-19 11:37] #176 closed

[2016-01-06 00:16] chrisseaton opened #181 "Should we be using evaluate specs?"
Such as

https://github.com/ruby/rubyspec/blob/master/language/method_spec.rb#L734

[code]

These generate very awkward spec name such as

[code]

[2016-01-06 00:49] vais commented on #181
LOL https://github.com/opal/opal/blob/master/spec/filters/bugs/unboundmethod.rb#L7-L19

[2016-01-06 01:07] elia commented on #181
Did it for other reasons, but still relevant: https://github.com/opal/opal/blob/master/spec/opal/core/arity_spec.rb

[2016-01-06 10:35] eregon commented on #181
I don't like `evaluate` so much either, but I can guess the reasons to use it for argument-related specs such as in `method_spec.rb`:

* These specs would have a rather cumbersome description for stuff like ` def m(a=1, (b, *c), (*d, e))`.
* Some of these specs use required keyword args, which are not syntactically valid in 2.0, which means `eval` is needed.

The link from @chrisseaton shows indee

[2016-01-06 13:53] chrisseaton commented on #181
I think the situation could be improved simply by automatically flattening the string's multiple lines into one.

[code]

[2016-01-06 13:57] eregon commented on #181
The purpose of the current approach is for nice output with the specdoc formatter:
[code]

[2016-01-06 14:06] eregon commented on #181
One easy fix for that single-line of code case, would be to String#chomp before checking if the source contains "\n", the output would then be:
[code]
and the tag:
[code]

Would that be better?
I can do the change in mspec, but obviously tags will need to be adapted to match the new spec descriptions.

[2016-01-07 10:47] chrisseaton commented on #181
Yes that tag is better I think. That's all I cared about.

[2016-01-07 14:10] eregon commented on #181
@elia @vais Do you agree with this slightly changed format for tags of `evaluate` specs?
It only applies to single-line of code `evaluate`, multi-line keep the same format, for nice output with `-fs` and so that `evaluate` is just a fancy `it`.

[2016-01-07 14:15] elia commented on #181
fine by me, we'll update our tags

[2016-01-08 01:03] vais commented on #181
:+1:

[2016-01-08 22:35] jc00ke opened #182 "Please consider changing the project's name"
One year ago the canonical RubySpec project was retired. It was suggested to @matz by me in a private email discussion that the name be changed from RubySpec to something else. I thought this was a good idea because the name RubySpec carried a bit of baggage, and changing the name would also respect the original author's wishes for its retirement.

That plea was never addressed, and I never posted

[2016-01-08 22:40] enebo commented on #182
I think it is a great idea to change the name.  I have two additional name suggestions which will need permission but I think both are worth looking into:

1. Rubicon - This is a previous incarnation of what rubyspec essentially replaced but it is long dead and was based on test/unit (and done by different people).  It is so long dead I can guarantee no one is using it.  We can probably ask permis

[2016-01-08 22:44] headius commented on #182
I am in favor of a name change. This is obviously a hot potato.

I'm kinda down on the idea of ruby/spec. The tests are rspec-like, true...and they kinda-sorta output a specification, but I never bought into the idea that this actually was a specification. It's a test suite with very nice text output to indicate what's broken. Specifications aren't just lists of features, and they're almost never

[2016-01-08 22:47] headius commented on #182
Rubric is also a good name...meaning a set of rules, or an authoritative rule. I still like Rubicon better. YOU MUST PASS THE RUBICON.

[2016-01-08 22:52] elia commented on #182
Funny thing, my imagination sees the crossing of the Rubicon as something negative, likely when the specs a red. …ok, checked wikipedia, here's why:

– https://en.wikipedia.org/wiki/Rubicon#Julius_Caesar

Said that I have no problem with either name (but I must confess that I like how ruby/spec sounds and looks).

[2016-01-08 23:22] headius commented on #182
@elia I read through that section just now, thanks for the link! It says crossing the Rubicon is "risky or revolutionary" which isn't necessarily negative. And for Caesar, it was a good decision...this was the beginning of the end for the Roman Senate and he went on to win his war and bring about the end of the Roman Republic (in favor of the Roman Empire).

Of course, killing a republic to make i

[2016-01-09 00:04] drbrain commented on #182
There is [another Ruby test suite called Rubicon](http://blog.headius.com/2008/05/rubyspec-bringing-ruby-test-suites.html) which was started by Dave Thomas…

[2016-01-09 00:05] headius commented on #182
@drbrain Indeed, but it has been dead for a long time. We removed it from JRuby when it became apparent that it did not cover any more than the remaining suites (JRuby's, MRI's, RubySpec).

I'm not sure it even has a repository out there anymore, and I'm pretty sure Dave would let us use the name.

[2016-01-09 00:08] headius commented on #182
This page is still out there, but all links -- including RubyForge itself -- appear to be dead: http://rubytests.rubyforge.org/

This is the only place Rubicon existed, as far as I know.

[2016-01-09 00:09] elia commented on #182
@headius hahaha, I like this interpretation! :game_die: _alea iacta est_?

[2016-01-09 00:43] npomf commented on #182
Tempted to just toss `Gandalf` out there as a tongue-in-cheek test suite name.

Otherwise my vote goes down for `Rubicon` or `ruby/spec`.

[2016-01-09 03:53] vais commented on #182
IDK, `Rubicon` is cute and all, but I'd rather see `ruby/spec`, as in: it's nothing "special", it's just Ruby's official spec suite ¯\_(ツ)_/¯

[2016-01-09 04:02] vais commented on #182
Also, I'd hate to see "politics" flare up again around RubySpec - I feel like it finally enjoyed a period of productive tranquility.

[2016-01-09 04:06] vais commented on #182
https://github.com/hminaya/rubyspec.github.io/commit/deaeed873a286ae9dca308531467cca3c7d7e906

[2016-01-09 06:09] headius commented on #182
For those in favor of `ruby/spec`...what's the actual name in that case?

I read it as Ruby Spec... which is the name we're trying to replace.

Ruby's Spec? As opposed to the ISO specification?

Ruby Slash Spec? Really?

Spec? Seems way too generic. "JRuby runs spec". Really?

The repository probably should move to `ruby/spec` but I'm not actually hearing any *name* suggestions.

[2016-01-09 06:10] headius commented on #182
FWIW, this is the problem with someone strongarming a very generic name. RubySpec is hard to replace because it's the simplest and most logical name for a spec-based suite of tests for Ruby.

[2016-01-09 06:48] jc00ke commented on #182
How about "the specs"
I'm not sure this project really needs some clever name. They are Ruby's specs, not RubySpec (anymore)

@headius are you saying someone is "strongarming"? I'd caution you to watch the words you pick. Let's keep it civil.
![selection_004](https://cloud.githubusercontent.com/assets/18191/12214871/f71b1086-b659-11e5-99d8-ba6af2f21981.png)

[2016-01-09 06:51] headius commented on #182
@jc00ke Well, it occurred to me...how does using the name "RubySpec" hurt someone? What's the actual gain in changing it other than someone wants us to change it?

I'm being totally civil...but it does feel a bit like a strongarm to me. We can't use the name because...why? Because it's trademarked? No. Because it's specific to a different project? No...it was abandoned, and this is the code that w

[2016-01-09 06:55] headius commented on #182
Also, you're right...strongarm is probably the wrong word, since no force other than a request has been used. I'm not sure what to call it. @brixen doesn't want us to use the name...but why?

[2016-01-09 06:58] jc00ke commented on #182
@headius I view it as respecting someone's wishes, someone who put in a ton of work and then decided not to give the project away, but to retire it. I choose to respect @brixen's wishes. You may not, and that's your choice. I think the easiest thing to do here, and the right thing to do, is rename it.

It's less about asking "why" and more about just doing it and moving on. It's not worth debating

[2016-01-09 07:01] headius commented on #182
We're keeping this civil, right? I never said I didn't support changing the name. I'm asking why it's necessary. Please don't put words in my mouth.

I like to ask "why". Everything that we do is worth asking "why".

[2016-01-09 07:05] jc00ke commented on #182
You may, or you may not, I don't know, hence my statement. I didn't mean to imply you *don't*, I meant you *may* or *may not* (I don't know your specific position) I didn't mean it as a dig. You clearly do support changing the name, I've seen that on Twitter and here.

I don't think asking "why" helps here. If it is indeed academic, then it has little value to the community. IMO it's best to agree

[2016-01-09 07:10] matz commented on #182
I don't understand.  Does @brixen himself want to change the name? Or @jc00ke guesses?
If he really wants, I am for changing the name, of course.

[2016-01-09 07:11] jc00ke commented on #182
@matz
![selection_005](https://cloud.githubusercontent.com/assets/18191/12214973/18d00b5c-b65d-11e5-8b73-cb7017f7b4e1.png)

[2016-01-09 07:13] matz commented on #182
OK, that's what I wanted. Let's change the name.

[2016-01-09 07:15] jc00ke commented on #182
@headius I apologize my use of "may not" above.

[2016-01-09 07:17] headius commented on #182
The trend seems to be toward a repository of `ruby/spec` and a name of "Ruby's Specs". If everyone likes that I'm fine with it.

[2016-01-09 07:19] jc00ke commented on #182
Ruby's specs, the specs, the spec suite... I think not having a name and just referring to it would work as well.

[2016-01-09 10:31] vais commented on #182
@headius I see what you mean - it must have some kind of name if it is to be a stand-alone repo on GitHub. Pardon my ignorance, but are repos on GitHub name-spaced to the organization? I.e. https://github.com/ruby/spec is available obviously, but https://github.com/spec is not, and, of course, makes no sense.

[2016-01-09 14:27] eregon commented on #182
@matz Any opinion on the name?
I want something that clearly avoids the confusion of this project being a "specification of the Ruby language". I would describe it as a common test suite for the Ruby programming language (which happens to be written in "spec" style).

I sort of like "Ruby spec suite" but not sure how to make that space-less.

[2016-01-09 17:06] chuckremes opened #183 "IO#advise behavior on platforms that don't have it"
This isn't necessarily a bug, but I think the behavior is incorrect. (If I should open this as a bug against MRI, let me know.)

On systems that do not support the `posix_fadvise` function, a call to IO#advise (with suitable args) returns nil/success. In other words, it silently fails without actually executing that OS function. However, I believe it should raise `NotImplementedError` on those pla

[2016-01-09 17:18] headius commented on #183
I'm not sure what the proper behavior is. Some methods in Ruby that are not implemented raise an exception (e.g. fork), and some return nil (e.g. several functions in the 'etc' extension just return nil on Windows).

`fadvise` might be a weird one to have fail hard, since it doesn't actually change any visible functionality. It's just hinting to the kernel how a program will use a given file, righ

[2016-01-09 17:50] brixen commented on #182
I'm not "strong-arming" anyone about the name. I created the RubySpec project with a specific vision and philosophy, and wrote tens of thousands of lines of specs. I was writing "an executable specification of the Ruby programming language". That is text that, to this day, is [retained in the README](https://github.com/ruby/rubyspec/blame/b4c08634816ec054e5f13123cda6d05b55fa7bfd/README.md#L5) (and

[2016-01-09 18:06] eregon commented on #183
It seems intended at least in 2.3: https://github.com/ruby/ruby/blob/v2_3_0/NEWS#L111-L112 and https://bugs.ruby-lang.org/issues/11806.

@chuckremes Which particular specs are you looking at?

[2016-01-09 18:35] enebo commented on #182
So looks like everyone is ok with the name change and we just got a concrete answer to the "why".  Seems like it is now just a matter of the new name.

[2016-01-09 21:59] chuckremes commented on #183
@headius @eregon I'm referring to specs in the rubinius ffi-io branch (that I wrote). The current behavior where it failed silently seemed wrong to me, so I put a feature guard around it. Here's a pointer:

https://github.com/rubinius/rubinius/blob/ffi-io/spec/ruby/core/io/advise_spec.rb#L5

I raised the issue here because you guys are maintaining the "canonical" spec suite.

[2016-01-09 22:00] chuckremes commented on #183
I see in the issue that it refers to its current behavior that it is acceptable to fail silently.

https://bugs.ruby-lang.org/issues/11806

I view the change in 2.3.0 to indicate that they are just building on the current behavior and not making any judgement as to whether or not the current behavior is correct.

[2016-01-09 22:06] headius commented on #183
@chuckremes Why do you think it should raise an error if it's not implemented for a given platform? I mean...even on platforms where it's implemented, it's almost impossible to tell that it did anything. Your specs don't even test actual `fadvise` behavior...just peripheral behavior like error cases and accepted parameters.

[2016-01-09 23:23] chuckremes commented on #183
@headius I think calls to `advise` should raise NotImplementedError on platforms that don't support that function because it is truthful. Yes, it's a hint and might be ignored, but that's a distraction from the issue. If the function doesn't exist, it should raise.

Yes, I know the my current specs don't do that. I'm asking HERE if you all think that raising NotImplementedError should be the corre

[2016-01-10 03:15] headius commented on #183
@chuckremes Ok, I agree with that. It should also be marked as "not implemented" so it doesn't show up in respond_to?, similar to how fork is marked.

I'd say file an issue and we'll see what the other ruby-core folks say.

[2016-01-10 03:15] headius commented on #183
There is a middle option too...mark it as not implemented (for respond_to?) but allow it to be a no-op when called. Code that expects it to not raise an error will be ok, and code that queries it first will be ok.

[2016-01-10 10:34] eregon commented on #183
Yes, definitely ask on the MRI bug tracker and maybe link with https://bugs.ruby-lang.org/issues/11806#note-6.

[2016-01-10 22:26] chuckremes commented on #183
Opened on the redmine bug tracker here:  https://bugs.ruby-lang.org/issues/11973

[2016-01-11 12:21] eregon commented on #183
I think we can close this and wait for resolution on redmine then.

---
About practical details, I think using RubySpec `features` is not best tool to use here, I would rather use platform guards if they are enough or some check like `has_posix_fadvise = some_io.respond_to? :advise` and have specs for both cases.
The set of features should be small and clear, otherwise it's too easy for implementa

[2016-01-11 12:21] #183 closed

[2016-01-12 00:30] headius commented on #182
I've come around on `ruby/spec` as the repository and referring to them as "Ruby's Spec Suite" or "The Spec Suite". Every project in the Ruby world that has rspec specs uses a `/spec` dir, so that seems to fit well. And if ruby-core ever decides to have these specs copied into `ruby/ruby` for CI runs, `it will be `/spec` there too I imagine.

Any other thoughts?

[2016-01-12 01:11] vais commented on #182
@headius :+1:

[2016-01-12 10:55] eregon commented on #182
OK, let's settle on `ruby/spec`!
Thanks for all your comments and name suggestions!
It's fairly obvious from the current name, it sorts of "DRY" it and existing forks will have a decent root repo name.

[2016-01-12 10:55] #182 closed

[2016-01-12 17:56] jc00ke commented on #182
Thank you everyone, I'm glad we could come to an agreement on this as quickly as we did.

[2016-01-13 23:11] chuckremes commented on #183
Per the responses to the bug issue opened for MRI, this is a dead issue. I'll revise the Rubinius specs to conform.
https://bugs.ruby-lang.org/issues/11806

[2016-01-14 10:28] eregon commented on #183
@chuckremes Thanks! I'll close the MRI issue then.

[2016-01-21 15:15] eregon commented on #181
I committed the simple fix for one-line of code specs.

[2016-01-21 15:15] #181 closed

[2016-02-25 14:13] iliabylich opened #194 "Leaving "$," gvar value can pollute a global test suite"
[This](https://github.com/ruby/spec/blob/master/language/predefined_spec.rb#L633) test doesn't restore the value of `$,` back to nil. `IO.print` uses it internally for joining passed strings into a single one. If interpreter allows to set this global variable, the whole test suite breaks.

[2016-02-25 16:40] #194 closed

[2016-03-17 09:19] vais opened #207 "Incorrect expectations for ARGF.binmode behavior on Windows"
These two expectations are incorrect: https://github.com/ruby/spec/blob/master/core/argf/binmode_spec.rb#L15-L29

Basically, there is a file with Unix-style line breaks, and it is expecting that setting `binmode` will convert these Unix-style line endings into Windows-style line endings. That does not make any sense, because it's just not what `binmode` does. Per http://ruby-doc.org/core-2.0.0/ARG

[2016-03-17 09:22] vais commented on #207
Just realized that the reason for this working incorrectly may have something to do with git or something else along the line having converted the line endings in the fixture file `bin_file.txt` from `\r\n` to `\n`.

[2016-03-17 09:32] vais commented on #207
Yep, that was it - there's nothing wrong with the code, the problem was with the data (the fixture file). I replaced `\n`s with `\r\n`s in `bin_file.txt` and the spec makes sense again :smile:
[code]
One down, hundreds more to go :beers:

[2016-03-17 10:14] eregon commented on #207
Good find! 356fa4fb3e40f3a739c10f256d59a0885bfe39a7 seems the culprit.

[2016-03-17 10:18] #207 closed

[2016-03-17 11:06] eregon opened #209 "Dropping support for 2.0.0"
I removed 2.0.0 from the Travis build matrix as MRI 2.0.0 is [no longer supported](https://www.ruby-lang.org/en/news/2016/02/24/support-plan-of-ruby-2-0-0-and-2-1/).

I plan to drop support for 2.0.0 gradually, since it gives some overhead when writing new specs (more guards) and makes more complicated to test 2.1 syntax like keyword arguments.
I made a tag [drop_support_for_2.0.0](245862558761d5a

[2016-03-21 11:25] vais opened #213 "Skip the entire ARGF.read_nonblock spec on Windows"
Hi, @eregon, what's the "right" way to skip the entire https://github.com/ruby/spec/blob/master/core/argf/read_nonblock_spec.rb on Windows?

`ARGF.read_nonblock` is not supported on Windows (https://bugs.ruby-lang.org/issues/5954#note-5), and it does not raise a nice exception like, e.g. `fork` does on Windows.

`fork` spec basically wraps most of the file in a "not on windows" block, but there's

[2016-03-21 12:05] eregon commented on #213
Hi @vais,
Wrapping everything in `platform_is_not :windows do` is the right way (even the top-level `describe`).
Change of indentation is not optimal, but it greatlys helps to see where a guard applies (for example for ruby version guards). Maybe we could have a shortcut notation, but I think this would be non-trivial to implement or have other drawbacks, so I'd rather stick with the current simpl

[2016-03-21 14:50] vais commented on #213
Thanks @eregon it makes sense. Yeah, I was hoping to keep the diff simple :wink:

[2016-03-21 14:50] #213 closed

[2016-03-21 14:52] eregon commented on #213
We can always ignore space changes for the diff :smiley:  (git `-w` or GitHub `?w=1`)

[2016-03-22 02:25] vais commented on #213
@eregon thanks for the `git diff -w` and `?w=1` tip, I learned something today :smile:

[2016-03-26 15:27] eregon commented on #209
No objection so closing :smiley:

[2016-03-26 15:27] #209 closed

[2016-04-07 09:19] eregon opened #230 "Remaining failures in Windows"
The number of errors+failures in Windows is now only 24! https://ci.appveyor.com/project/eregon/spec/build/140

However, these ones seem non-trivial to fix. Some of them might be just not applicable on Windows, but most of these seem to be inconsistent with the behavior on UNIX-like platforms. Some of them are also worth to write a MRI bug.

Examples can be skipped on Windows using `platform_is_no

[2016-04-07 09:30] eregon commented on #230
Here are my thoughts after analyzing some of them:
[code]

So File.chown("not_existent_path") just returns 1 on Windows ??

[code]

So UNIX does not care about extra permissions args for existent files to `File#open/new` but Windows does?

[code]
Why does this fail? `File.utime` does not work on Windows? Does it need special permissions?

[code]
`birthtime` is missing from the output. Bug (in MRI

[2016-04-07 10:14] nobu commented on #230
* `File.chown` does nothing but success, for *any arguments*.
* File permissions other than "user" do not make sense and *always* equal to the "user"'s.

[2016-04-13 20:40] eregon commented on #230
@nobu Thanks, that fixed the `chown` case.
Permissions seem to behave differently on Windows, even when considering only the users', it would seems File.open(existing_file, mode) actually changes permissions while it does not on other platforms.

[2016-04-13 22:15] eregon commented on #230
Only 4 remaining issues: https://ci.appveyor.com/project/eregon/spec/build/185

[2016-04-21 21:29] eregon commented on #230
And here is the first green build on AppVeyor! https://ci.appveyor.com/project/eregon/spec/build/217

[2016-04-21 21:29] #230 closed

[2016-04-23 04:53] vais commented on #230
@eregon great job, congratulations!!

[2016-05-15 21:22] backus opened #254 "Conditional regular expressions"
Rubyspec does not seem to contain any tests for conditional regular expressions like the following:

**conditional with positional capture group**

[code]

**conditional with named capture group**

[code]

**conditional with only a true branch**

[code]

Does rubyspec try to cover all regular expression syntax? If so I would be happy to PR the necessary tests

[2016-05-16 09:16] eregon commented on #254
Yes, more coverage is always better :smiley: I'll welcome any PR you have.
It seem it would go here: https://github.com/ruby/spec/blob/master/language/regexp_spec.rb

[2016-05-17 07:31] hsbt opened #256 "Support to r55024 (Unifying Biignum/Fixnum to Integer)"
Ruby 2.4.0 has been unified bignum/fixnum to Integer at https://github.com/ruby/ruby/commit/f9727c12cc8fbc5f752f5983be1f14bb976e5a13

spec is boken now. We need to solve it. ref https://travis-ci.org/ruby/ruby/builds/130761218

[2016-05-17 09:23] eregon commented on #256
Awesome, although it probably shouldn't segfault, right? :)
My understanding is we can keep most of the C-API unchanged and still allow its usage, while at the Ruby level Fixnum = Bignum = Integer.

[2016-05-17 12:35] akr commented on #256
It is because ensure_bignum (optional/capi/bignum_spec.rb) can return fixnum now
because Bignum#coerce is moved to Integer#coerce and it returns fixnum as fixnum.

[2016-05-17 12:39] eregon commented on #256
Should `rb_big2long` and such also handle Fixnums now or not?

[2016-05-17 12:42] eregon commented on #256
We should rewrite some of these specs since they rely on the wrong assumption that Bignum.coerce(Fixnum) gets a Bignum. `bignum_value`, `fixnum_min` and `fixnum_max` should be used instead.

[2016-05-17 12:46] eregon commented on #256
I made an intermediate fix erroring if Bignum#coerce(Fixnum) does not return a Bignum and indeed it stops to segfault.

[2016-05-17 12:57] akr commented on #256
It is possible to modify rb_big2long and other bignum functions to support fixnum too.

But I don't consider it currently because:
- the function name contains "big".  It means the function is dedicated for bignum
- I'm not sure that this SEGV problem is unique to rubyspec or common for many libraries.

[2016-05-17 13:01] eregon commented on #256
I see, indeed this seems a bit specific to ruby/spec for me as well. People are unlikely to call `rb_big*` on non-Bignums in C code.
I'll fix the specs, my first attempt was a miss, there is no way to know whether a value is in Fixnum range anymore now :smiley:

[2016-05-17 16:24] eregon commented on #256
Specs should pass on trunk now.

[2016-05-18 21:30] eregon commented on #256
http://rubyci.org/ is happy so I'll close this.
Thanks for raising the issue so I could help to fix this in a timely manner 😃

[2016-05-18 21:30] #256 closed

[2016-05-19 00:18] hsbt commented on #256
👍  Thank you @eregon and @akr

[2016-06-06 05:25] duerst opened #264 "How to write specs that are used from a given commit and up?"
At https://github.com/ruby/spec/pull/263, I removed some specs for Ruby 2.4 and up. Eventually, there should be some new, somewhat different, tests for Ruby 2.4. When should these be provided? How can I write a spec so that we can check it as soon as possible, but avoid that some of the specs fail on trunk before the new features go live, or on older versions of trunk before a given version/commit

[2016-06-06 09:04] eregon commented on #264
ruby/spec aims to test latest versions of each Ruby minor version (2.1, 2.2, 2.3) and latest MRI trunk, so do not worry about older MRI trunk, an older ruby/spec can be used if needed for that special case.

But indeed there is some synchronization problem. The usual solution is:

* Develop the spec while implementing the new feature
* Commit to ruby/ruby and make a Pull Request here (in either or

[2016-06-06 09:09] eregon commented on #264
So for the spec guards, use `ruby_version_is "2.4" do`, since older trunk versions need not to be taken in account. I hope I answered your question.

[2016-07-19 15:12] iliabylich opened #275 "Shared state between tests"
There are some weird conflicts between tests that define methods explicitly.

+ All blocks passed to `it` are evaluated on the context of MSpec's `@env`
+ [This spec](https://github.com/ruby/spec/blob/master/language/return_spec.rb#L210-L212) defines a method `b`.
+ [This spec](https://github.com/ruby/spec/blob/master/language/rescue_spec.rb#L200) relies on method `b` to be undefined.
+ When `resc

[2016-07-19 15:14] iliabylich commented on #275
Here's a simplified example:
[code]

It passes because
+ `m1` is defined on the instance of `SpecEvaluate`
+ `m2` is defined on the shared `MSpec@env`

[2016-07-19 16:57] eregon commented on #275
The environment is [different per-file](https://github.com/ruby/mspec/blob/master/lib/mspec/runner/mspec.rb#L52-L60), isn't it?
If I run `mspec language/return_spec.rb language/rescue_spec.rb` with MRI I do not see an error.
In fact, I can confirm they are different objects by adding `p self` before those lines:
[code]
So, maybe an Opal bug?
Is Opal somehow using RSpec to run these, partially mayb

[2016-07-19 17:19] iliabylich commented on #275
I was testing on a single file :smile:

Yes, you are right, Opal runs all specs in the context of single object, [this static object](https://github.com/opal/opal/blob/master/spec/mspec-opal/runner.rb#L87-L88). Thanks for pointing that env is different per file!

[2016-07-19 17:19] #275 closed

[2016-07-28 03:25] vais opened #277 "Update appveyor.yml to start testing Ruby 2.3.1 on Windows"
This became possible thanks to @Azolo's valiant effort to finally push out a new RubyInstaller with 2.3.1 support, but it's still currently blocked on AppVeyor adding Ruby 2.3.1 support (https://github.com/appveyor/ci/issues/925).

[2016-07-28 08:07] eregon commented on #277
In the mean time, it seems there already is a 2.3.0 version on AppVeyor:
https://www.appveyor.com/docs/installed-software#ruby
I'll give that at try.

[2016-07-28 10:10] eregon commented on #277
I tried it on branch `try_appveyor_21_23`.
There are some errors: https://ci.appveyor.com/project/eregon/spec/build/318

[2016-08-20 22:54] nobu opened #288 "failure on ruby trunk travis ci"
[r55970](https://github.com/ruby/ruby/commit/ea293952c549c61265db6ab20071fe9d83b930f1) [passed](https://travis-ci.org/ruby/ruby/builds/153524321), but
[r55972](https://github.com/ruby/ruby/commit/e79b23c12fb482856412ebdd782b6abbfb0a2cae) [failed](https://travis-ci.org/ruby/ruby/builds/153724372).
The change between these 2 revisions is actually [r55971](https://github.com/ruby/ruby/commit/51d30645

[2016-08-21 03:12] #288 closed

[2016-08-21 09:45] eregon commented on #288
Thank you @nobu!
Sorry for the breaking change :/
These specs are quite fragile as they try to run ruby without any environment variable.
The fix is the right one, we might just need to pass some essential variables like `$HOME` on other rubies.

[2016-09-04 04:52] hsbt opened #292 "setsockopt spec fail with non-linux environments."
https://github.com/ruby/spec/blob/master/library/socket/basicsocket/setsockopt_spec.rb#L189

Above expectation fails on FreeBSD, Solaris environments on Ruby CI. ref http://rubyci.s3.amazonaws.com/freebsd82-64/ruby-trunk/log/20160904T030301Z.fail.html.gz

[2016-09-05 16:46] eregon commented on #292
Thanks for the report, please make a PR to guard the spec so it only runs on Linux (or if there is a cross platform way to test this it's even better of course).
Otherwise I can fix it but it will take a couple days.

[2016-09-07 07:59] eregon commented on #292
Fixed by @nurse in f0548a9a0bb7271f334a30d7c34dbd56a8764189, thanks!

[2016-09-07 07:59] #292 closed

[2016-09-22 15:29] noahgibbs opened #294 "RubySpec tests not compatible with IEEE 754 round-nearest-to-even mode"
Right now, MRI's sprintf uses IEEE 754 round-nearest-to-even mode (https://en.wikipedia.org/wiki/IEEE_floating_point#Roundings_to_nearest). We're trying to get Float#round to match that behavior (https://bugs.ruby-lang.org/issues/12548). It breaks RubySpec in a few places.

Looking at tests, some are clearly incompatible with that mode. For instance, from core/float/round_spec.rb around line 70:

[2016-09-22 17:02] eregon commented on #294
I think those are mostly fine to be changed in ruby/spec for the next version, but the real decision has to happen on MRI's bug tracker whether this is bearable for compatibility.
I could imagine some Ruby software calling round and get surprising results by updating the Ruby version.
OTOH Float#to_s changed many times, but the compatibility did not look like a big concern (maybe because we still

[2016-09-22 17:06] noahgibbs commented on #294
Matz says on the linked MRI bug that he believes we should change Float#round to match the behavior of sprintf. He hasn't expressed any versioning preference yet that I know of, though.

[2016-09-22 17:12] eregon commented on #294
Right, that was my thinking this could get in 2.4 or later, but unlikely to be backported.
I would be happy to see a patch adapting the specs with `ruby_version_is` guards and testing the new behavior :smiley:

[2016-09-30 06:14] headius opened #296 "Need better way to test IO#seek with > 2**32 offset"
I attempted to make a spec for seeking with offsets > 2**32 without creating a large file.

The attempt [here](https://github.com/jruby/jruby/commit/23568373b59cf9f9ced9710add6142b29203c399) worked ok on OS X, but not on Linux.

I modified it to only run on OS X, but obviously we'd like something that runs on Linux at least.

Suggestions?

[2016-09-30 06:14] headius commented on #296
cc @enebo

[2016-09-30 08:14] eregon commented on #296
Maybe using a sparse file like described in https://wiki.archlinux.org/index.php/sparse_file ?
This would not work on OS X though.

We could make a helper for this in fixtures/classes.rb.

[2016-10-02 12:32] eregon commented on #175
About Hacktoberfest: any PR with specs covering one of those points would greatly help Ruby implementations and help to specify Ruby's 2.3 behavior!
There are plenty of existing specs to take inspiration from.
Find me on `#rubyspec` on Freenode or just create an issue to discuss.

[2016-10-02 12:34] eregon commented on #254
@backus Any update on this?

[2016-10-02 12:40] #264 closed

[2016-10-02 13:39] #277 closed

[2016-10-02 22:29] backus commented on #254
@eregon I forgot about this sorry about that. See #299

[2016-10-03 01:42] duerst commented on #264
Just for the record,
   ruby_version_is "2.4" do ... end
means "version 2.4 and higher".

[2016-10-03 08:41] #254 closed

[2016-10-11 05:18] markburns opened #308 "How to report a Segfault?"
Hi.

I'm experiencing a segfault in my test suite for my rather complicated and probably overly ambitious project at https://github.com/markburns/delfos

(Project aim - record method calls and runtime type information in a ruby application)

I'd like to know how best to report this, given that I now have very limited time for open source and have not followed the changes in depth for the move to `

[2016-10-11 09:31] eregon commented on #308
Hello,
You should report this to the MRI bug tracker at https://bugs.ruby-lang.org/

[2016-10-11 09:31] #308 closed

[2016-10-12 11:06] eregon commented on #35
I added some alias detection in mspec in https://github.com/ruby/mspec/commit/88e734a06d5810d22c6c828ec1571a32f4e0cb45. It works for instance for `collect_concat`/`flat_map` and only runs specs for one of them when detecting them as aliases.
Unfortunately, on MRI there seems to be no way to detect Process#spawn, Kernel#spawn and Kernel.spawn as aliases with Ruby-level facilities, which means we ru

[2016-10-12 11:06] #35 closed

[2016-10-12 11:08] eregon commented on #296
@headius Did you try the sparse file approach?

[2016-10-20 19:27] noahgibbs commented on #294
Opened PR #322 (https://github.com/ruby/spec/pull/322). Ruby 2.4.0dev hasn't integrated Nobu's patch yet, but I'll comment on the corresponding MRI bug that we have a PR for this.

[2016-10-21 21:29] noahgibbs commented on #294
Benoit says RubySpec PR #322 looks good. Just waiting for us to commit round-to-nearest-even mode to MRI so he can merge it. I've used Nobu's branch locally, including to create PR #322, and it works well for me. +1

[2016-10-24 16:23] iliabylich commented on #175
@eregon Working on adding specs for "squiggly heredoc" from https://github.com/opal/opal/pull/1397. I guess all specs must be wrapped with `eval`, right? Is it possible to exclude the whole file from the test suite by specifying required ruby version? I just feel that wrapping all those heredocs with `eval` may look scary.

Or can we extract all examples to a separate file and required it in a con

[2016-10-24 16:35] eregon commented on #175
@iliabylich Thanks!
Fixtures files is the best for this.

Yes, it's OK to require within the version guard, I moved it since it was used in a single spec.

[2016-11-06 23:08] mjago commented on #294
Resolved with PR #322 merge.

[2016-11-06 23:08] #294 closed

[2016-11-07 13:06] eregon commented on #296
Closing this, please try the sparse file approach on Linux.
I think the helper could be in one of the fixtures files first, and if it's used in many places we can move it to mspec.

[2016-11-07 13:06] #296 closed

[2016-11-27 15:43] #175 closed

[2016-11-27 15:49] eregon commented on #175
All new features of 2.3 are now finally properly specified in ruby/spec!

We need a better way to deal with this, it's too time consuming.
Ideally, people implementing the features would also contribute a spec.
MRI tests are often not optimal due to testing many different aspects together, making it very likely to fail for reasons unrelated to the new feature on alternative Ruby implementations.

[2016-11-27 15:58] eregon commented on #175
I would like to thank @headius, @mjago, @sgarciac and @iliabylich for the big help on these specs! :tada:
We would not make it without you!

[2016-11-30 04:56] shugo opened #363 "readline_spec.rb fails on Debian wheezy"
RubyCI on Debian wheezy fails:

http://rubyci.org/logs/www.rubyist.net/~akr/chkbuild/debian/ruby-trunk/log/20161127T203100Z.fail.html.gz

I guess reverting f0d5c14 will fix the problem.

[2016-11-30 10:21] #363 closed

[2016-11-30 10:21] eregon commented on #363
Thanks for the report, should be good now.

[2016-12-07 09:08] shugo opened #368 "spec for File::TMPFILE fails on Amazon Linux"
spec for File::TMPFILE fails on Amazon Linux:

http://rubyci.org/logs/rubyci.s3.amazonaws.com/amazon/ruby-trunk/log/20161207T063002Z.fail.html.gz

O_TMPFILE is defined in glibc 2.19 or later:

https://github.com/bminor/glibc/commit/ffdd31816a67f48697ea4d6b852e58d2886d42ca

It may be better to test the behavior if File::TMPFILE is defined, instead of testing
the existence of the constant.

[2016-12-07 09:12] shugo commented on #368
glibc version can be checked by `Etc.confstr(Etc::CS_GNU_LIBC_VERSION)`.

[2016-12-07 20:39] eregon commented on #368
Thanks for the report, bdb599c should solve it.
I looked for a test in MRI for inspiration but did not find any, so I made an example based on the manpage.

[2016-12-07 20:40] eregon commented on #368
Great idea to test the behavior if defined BTW, since presence of this feature is so hard to test otherwise

[2016-12-08 00:56] shugo commented on #368
Thanks for the fix.
But it failed on armv7l-linux-eabihf:

http://rubyci.org/logs/rubyci.s3.amazonaws.com/scw-9d6766/ruby-trunk/log/20161207T211705Z.fail.html.gz

It may be better to skip the test if Errno::EINVAL is raised.
And It seems that Errno:EOPNOTSUPP is raised if the filesystem doesn't
support O_TMPFILE.

[2016-12-08 12:27] eregon commented on #368
I agree for EOPNOTSUPP, but it seems EINVAL is a bug on that platform:
[code]
None of these should apply. `O_DIRECT` is not provided, flags are valid AFAIK and O_TMPFILE is specified with O_RDWR. Do you have any idea why it raises EINVAL?

[2016-12-08 14:01] shugo commented on #368
Besides these cases, EINVAL occurs if O_CREAT is specified with O_TMPFILE, but O_CREAT
is not specified in bdb599ca....

glibc 2.19 seems to have the following bug, but I'm not sure it's related.

https://lists.debian.org/debian-glibc/2016/09/msg00037.html
http://permalink.gmane.org/gmane.comp.lib.glibc.alpha/46271

[2016-12-08 14:39] eregon commented on #368
is not specified in bdb599c....

Indeed, I noticed that as well when trying with `IO.sysopen`.

[2016-12-08 14:39] eregon commented on #368
5254fba allows both errors.

[2016-12-08 14:39] #368 closed

[2016-12-23 00:58] hedgehog opened #373 "req.get( uri ) abends with file:/....."
Is there an expectation that the following should work?

[code]
Currently on `ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]` it results in:
[code]

[2016-12-23 11:01] eregon commented on #373
@hedgehog You need one `/` for the protocol, and then another one for the root of the filesystem:
[code]
Then it fails in a different way:
[code]
So I don't think this is currently supported.

You could use `open-uri` to open both local files and URLs: http://www.rubydoc.info/stdlib/open-uri/OpenURI
You need to require `open-uri` and not use the `file:/` prefix.

All that said, if you want to requ

[2016-12-23 11:01] #373 closed

[2017-01-13 16:55] mgaudet opened #381 "Repeatability of RubySpec"
`mspec` provides the `-R` flag to run specs multiple times. From the perspective of JIT Compiler testing, this is quite useful, as it will allow exercising many more paths than possible with just compile-before-execution.

However, `ruby/spec` currently explodes if `-R` is passed:  ie,

[code]

Puts out huge quantities of error.

I think there's a philosophical question here about spec: Should spe

[2017-01-13 17:54] eregon commented on #381
It seems a good part of the specs pass, but indeed some exhibit bad behavior.
(`core/array` seems to work just fine for example)
Specs should be idempotent, and therefore the ones that are not should be fixed.

As usual, it's hard to keep all configurations running as it would mean explosion of configurations.

Some autoload specs seems to hang, if I exclude them I get 140 failures and 27 errors,

[2017-01-13 18:00] mgaudet commented on #381
Awesome. I'll look into providing some (may not be shortly) -- but I wanted to have a philosophical go-ahead that it was worth chasing :D

Thanks!

[2017-01-27 21:57] eregon commented on #381
I fixed the cases in `language`, so `mspec -R2 language` works now :smiley:

[2017-01-27 22:37] eregon commented on #381
I fixed `library` and `optional` as well, so only `core` remains with 33 failures with `-R2`.

[2017-01-27 22:43] mgaudet commented on #381
O.o Thanks so much!

I haven't even looked at this yet. 😮

[2017-01-29 21:45] #381 closed

[2017-01-29 21:46] eregon commented on #381
The whole suite now runs with `-R2`, and it's tested in Travis to make sure we don't regress!

[2017-03-06 21:09] AlexWayfer opened #385 "Time#zone returns the time zone used for time FAILED Expected "+03" to equal "AST""
Hello!

What is wrong?

[code]

Arch Linux:

[code]

Europe/Moscow:

[code]

Ruby 2.4.0:

[code]

[2017-03-06 21:14] eregon commented on #385
The code is https://github.com/ruby/spec/blob/0fe99d24f4a17eaa39563623209747eee278c3d1/core/time/zone_spec.rb#L6-L9

So I guess your system timezone information does not know the `Asia/Kuwait` zone?

[2017-03-06 21:22] AlexWayfer commented on #385
@eregon I also thought so, but…

[code]

[2017-03-06 21:26] eregon commented on #385
I have a slightly different version of that file:
[code]
So it looks like yours does not have the `AST` shortname in it.

Maybe we should just use `America/New_York` => 'EST' for everything, would that work on your system?

[2017-03-06 21:30] #385 closed

[2017-03-06 21:30] eregon commented on #385
@AlexWayfer I pushed a fix, could you check it works for you?
Thank you for the report!

[2017-03-06 21:32] AlexWayfer commented on #385
@eregon Everything is perfect, thanks!

[2017-03-12 09:58] nobu commented on #385
Wow, has USA abolished DST?:tada:

[2017-04-01 14:45] eregon opened #405 "Remove 2.1-specific guards and specs"
Since MRI 2.1 is [no longer supported](https://www.ruby-lang.org/en/news/2017/04/01/support-of-ruby-2-1-has-ended/), 2.1-specific guards and specs should be removed from ruby/spec so we don't keep ancient behavior in the suite.
This should also help some keyword arguments specs as required kwargs did not exist in 2.1 IIRC.

[2017-04-03 23:03] eregon commented on #405
Fixed by #406.

[2017-04-03 23:03] #405 closed

[2017-06-01 03:35] hsbt opened #440 "Build broken on ruby/ruby branches"
I got build errors on branches of ruby/ruby.

* 2.4 https://travis-ci.org/ruby/ruby/builds/238065839
* 2.3 https://travis-ci.org/ruby/ruby/builds/238065845
* 2.2 https://travis-ci.org/ruby/ruby/builds/238065891

It is caused by CAPI changes of ruby/spec maybe.

[2017-06-01 09:35] eregon commented on #440
Thanks, I'll take a look.

[2017-06-01 09:57] eregon commented on #440
b2e6a3a2bb0dacf4131152ac34310e84cb512923 fixed 2.4, I restarted the build and it's now green.
I'm restarting the 2.3 build to see if it's fixed too.

[2017-06-01 14:47] eregon commented on #440
a34d2a57ebe5f301ce95c7afaa80e1a0cc1a0f32 should fix all cases, I restarted all builds, let's see.

[2017-06-01 15:04] eregon commented on #440
All are fixed!

[2017-06-01 15:04] #440 closed

[2017-06-20 14:17] MSP-Greg opened #445 "MinGW failures - due to symlink"
@eregon

Good day,  as you know, I'm the crazy MinGW guy.  At present, using `make test-spec` has [two failures](https://msp-greg.github.io/file.mingw_test-all.html#test-spec-2-failures).   Running `mspec` has no failures.

I believe you touched on the issue of varying build systems in a ruby-lang issue.  Well, here's another.  I've mostly been building 2.5 trunk, but for various reasons, I've bui

[2017-06-20 14:50] eregon commented on #445
Yes, of course any improvement ro ruby/spec is welcome, especially if it fixes the specs on some platform/setup.

I am unsure, does File.symlink? and File.realpath work on Windows at all? Or just on mingw builds?

I think an easy way to solve this is to not use `__FILE__` but a simple file in rubyspec_temp, like the spec below, except the file would exist:
https://github.com/ruby/spec/blob/ec1c161

[2017-06-20 15:12] MSP-Greg commented on #445
@eregon

Getting a bit ahead of things.

I'll check, but it will be a bit.  I've got a mswin build from [unak / mswin-build](https://github.com/unak/mswin-build), I'll check with that.  I suspect both work.

On Windows, I believe `symlink?` and `real*` work fine,  The issue is creating symlinks, although I haven't checked all types.  On Windows, creating some types of symlinks require elevated pri

[2017-06-20 15:27] eregon commented on #445
https://github.com/ruby/ruby/commit/6f199eb803e2b3c75521a0aac95909d86923a916 should fix both failures (it's committed in ruby/ruby).

So essentially `File.symlink` raises an error on Windows user systems? What exception is raised?

[2017-06-20 15:43] MSP-Greg commented on #445
@eregon

[code]

[2017-06-20 16:03] MSP-Greg commented on #445
@eregon

Just checked the commit, both tests pass (running none parallel).

My solution was a bit complicated.  I guess I really don't like temp files in test code.  Problems in `readline` tests in `test-all` also...

Feel free to close.

[2017-06-29 11:20] eregon opened #454 "Using true/false as processes to return exit status 0/1"
I would like to use the `true` and `false` binaries instead of a full blown ruby process just to return basic exit statuses.

But, I am not sure if there is an equivalent on Windows.
@MSP-Greg do you know if there are equivalent binaries that just return a success/failure exit status on standard Windows?

It's available on AppVeyor, but that seems a full mingw environment which is quite different:

[2017-06-30 11:00] mjago commented on #454
Information here may be relevant?

https://stackoverflow.com/questions/22046780/whats-the-windows-command-shell-equivalent-of-bashs-true-command

[2017-06-30 13:05] MSP-Greg commented on #454
@eregon

As mentioned, using exit is probably the only way, but that requires a script.

The issue of the MinGW/MSYS2 environment's inclusion in Appveyor is the cause of one failure I have in test-all, as without usr/bin in the path, the test passes on windows.

[2017-06-30 13:32] eregon commented on #454
@MSP-Greg Does
[code]
works as expected in the Windows shell? (and the same with `0`)

It [works fine](https://ci.appveyor.com/project/eregon/windows-shell/build/30) on AppVeyor but that's probably due to MinGW.

[2017-06-30 14:25] MSP-Greg commented on #454
@eregon

Interesting.  I don't see any reference to msys or mingw in the appveyor log, but there is
[code]

Output from a msys2 bash shell:
[code]

Output from a windows cmd window:
[code]

[2017-06-30 15:18] eregon commented on #454
I think in the msys2 bash shell, bash might have substituted the $? by 0, could you try with single quotes?
[code]

[2017-06-30 15:19] eregon commented on #454
But the fact it works on Windows' cmd window is a good sign, this seems portable :smiley:

[2017-06-30 15:35] MSP-Greg commented on #454
You are correct.  Sorry, kind of wondered about that, as I don't normally use the bash shell...

[code]

[2017-07-02 11:37] mjago opened #455 "Ripper specs"
There are several good Ripper unit tests in test/ but no ripper specs at all.

1) Is Ripper a thing outside of MRI?
2) Is it worth porting the tests to specs?

I've quite taken to Ripper since I've been helping test the [Rufo](https://github.com/asterite/rufo) project and appreciate the fact that it has zero dependencies and is fast. Rufo formats the entirety of Ruby Specs quite happily by the way

[2017-07-02 12:27] eregon commented on #455
1. It is supported on JRuby at least, so it's not MRI-specific.
2. I am not sure. If it is the exact same tests, it has little value if other implementations can run these Ripper tests (it's not always easy or practical but it's possible). JRuby seems to run [a few of them](https://github.com/jruby/jruby/blob/f3ec650f7059e6fd7bed3f2f049fc39647b034bc/test/mri.index#L330-L334). In some cases it's in

[2017-07-02 12:34] eregon commented on #455
I ran it on the whole suite and it tooks 7s, that's nice.
After running it once, it seems to show it still formats files even though nothing is changed:
[code]
Would that be a Rufo bug?
It also happens with just `rufo ./core/array/pack/b_spec.rb`.

[2017-07-02 13:11] mjago commented on #455
Actually I know about these and are due to investigate. Rufo does report syntax errors where it finds them (presumably bad_syntax.rb is bad syntax). exponent_spec.rb suggests a Ripper bug (Rufo has already found two) - but I need to check.

The reformats are almost certainly whitespace-related (Rufo uses Rippers Lexer and Parser in combination to determine comment alignment for instance - if enabl

[2017-07-02 13:11] #455 closed

[2017-08-03 01:59] nobu opened #459 "spinner runner aborts when an empty directory is given"
[code]

`MSpecScript#entries` returns an empty array if `partial` is a directory name which has no spec files.
I'm uncertain where and how it should be dealt with.

1. abort in `MSpecScript#files` or `MSpecScript#files_from_patterns` when the list is empty.
2. same in `MSpec.register_files`.
3. same or ignore in `MSpec.process`.

[2017-08-03 02:05] nobu commented on #459
4. abort if no files matched in `MSpecScript#entries`.

[code]

[2017-08-07 09:25] eregon commented on #459
Thank you for the bug report! I'll have a look this week.
Indeed if the set of files is empty it's OK to abort mspec, I think such a check already exists somewhere.

[2017-08-13 10:08] eregon commented on #459
I applied your patch for `MSpecScript#entries`, thank you!

[2017-08-13 10:08] #459 closed

[2017-09-03 20:19] Epigene opened #460 "Matching up Ruby version to spec version"
Hi!

I ran into a gotcha where I was using Ruby 2.1.0 and running specs on master ended with some failures.
It would be useful to know which commit(s) or releases of this spec repo correspond to which Ruby version.

[2017-09-06 17:01] eregon commented on #460
Basically only the latest releases of Ruby 2.2.x and more recent are supported with the latest ruby/spec.
This is sort of documented in the [.travis.yml](https://github.com/ruby/spec/blob/master/.travis.yml).
It should be better documented in the README (contributions welcome).

MSpec, the tool to run the specs actually also requires Ruby 2.2. I'll add a more explicit check there so it fails early

[2017-09-06 17:28] #460 closed

[2017-09-06 17:29] eregon commented on #460
I tried to clarify the Ruby version requirements in MSpec and here, see the linked commits.

[2017-09-07 08:06] Epigene commented on #460
Thank you.

[2017-09-21 04:31] MSP-Greg opened #465 "Add ruby24 and trunk to appveyor?"
I've added 2.4 & trunk to appveyor.  tests are [here](https://ci.appveyor.com/project/MSP-Greg/spec), updated file is [here](https://github.com/MSP-Greg/spec/blob/f6642c4a3a21b106f3d2cb9c9f2791255687f254/appveyor.yml).

1. Would you like a PR?
2. 2.4 only, or 2.4 & trunk (can also add trunk as an allowable failure)?

FYI, appveyor has been asked to update ruby24 to 2.4.2.

[2017-09-21 09:40] eregon commented on #465
Please create a PR, this sounds great!

For trunk, I see you use your own build. Will it be often updated?
The problem with ruby trunk on Travis CI is it often gets outdated and therefore starts failing, making it mostly useless.

My only concern is it takes longer for CI but macOS on Travis is so slow nowadays that it probably does not matter much.

[2017-09-21 14:05] MSP-Greg commented on #465
@eregon

I call it my 'breakfast build'.  Short of a catastrophic failure/error, I update it daily.  Its come far enough along that I'm thinking of moving the build to appveyor, but I'm trying to see if I can set it up so one can use it for both local builds (using a git repo) and appveyor builds.

FYI, when I build, I run both `make test-spec` and `..\mspec\bin\mspec -rdevkit`.

This morning, `ma

[2017-09-21 15:49] MSP-Greg commented on #465
@eregon

I haven't had time to look at it, but I just squashed commits and re-ran tests in my fork.  The build this morning passed mspec
[code]
But the recent [fork build results](https://ci.appveyor.com/project/MSP-Greg/spec/build/job/wtjbaeda80nbjv0i) showed
[code]

Again, I haven't looked further...

[2017-09-22 09:01] eregon commented on #465
This repo and MRI's copy in spec/ruby are only sync'd about once per month, so it's expected there are a few differences.

I think this can be closed since #468 is merged.

[2017-09-22 09:01] #465 closed

[2017-09-22 13:27] MSP-Greg commented on #465
Benoit, thanks for all your work.

Am I correct that, at present, changes are generally pushed from trunk to here?  Exceptions for PR's here, etc.

If you know (without taking any time to check), any idea what causes the difference in 2.4 and trunk numbers?
[code]

Call me AR, but I've always been bothered by test stats like this, since they don't give any info about
why there are differences in e

[2017-09-22 13:55] eregon commented on #465
It's really mixed, there are PRs here but also changes from MRI, TruffleRuby and JRuby which each have a copy of this repo and synchronized about once a month here.

What does "AR" mean? I don't know that abbreviation.

Some examples (`it` blocks) are only valid on executed versions due to the `ruby_version_is` guard, so it's expected to have different numbers for 2.4 and trunk.
Just after a synch

[2017-09-22 14:47] MSP-Greg commented on #465
Sorry, wasn't sure how common that was.  I previously was involved with 'high-reliability' system design.

—often used in nontechnical contexts to describe someone as extremely or excessively neat, careful, or precise

a*al-retentive

Thanks for the explanation re stats.  Re MRI, I've got results of trunk spec tests [here](https://msp-greg.github.io/file.mingw_test-all.html#test-spec-Failure-Error

[2017-09-25 14:49] MSP-Greg commented on #465
@eregon

The build is now a rolling build (every 12 hours) on Appveyor.

I looked over the CAPI files, and (with my limited c knowledge) it seemed that it was all core.  The build uses an updated OpenSSL library (1.1.0f) and a ruby specific GDBM package.  Since the CAPI files don't seem to link to any of that, the packages probably aren't required?

Also, current Appveyor environment uses GCC 6.30

[2017-09-25 15:20] eregon commented on #465
Yes, C API tests only tests C functions built-in to Ruby, not defined in stdlib C extensions.

Do as is easiest for you.
I'm happy to test with what you build for your own usage :)

[2017-10-06 20:19] eregon opened #473 "Write specs for new Ruby 2.4 features and changes"
ruby/spec already contains some specs for 2.4, but we should aim to cover all new features and important changes.
This will improve the test coverage of these features, allow other Ruby implementations to implement these faster with more confidence and document clearly the new behavior.

The new specs should be within a version guard block:
[code]

From https://github.com/ruby/ruby/blob/ruby_2_4/N

[2017-10-06 21:15] eregon commented on #473
Special thanks to @kachick and @nobu which already wrote a good part of these specs!
Let's make progress on the remaining ones!

[2017-10-06 21:41] eregon commented on #473
If you want to help by contributing a spec for 2.4, please do so!
Choose a task and don't hesitate to ask help, by opening a Pull Request or an Issue.
All the existing files are examples of how to write a spec.

[2017-10-08 02:05] boddhisattva commented on #473
@eregon Thanks for sharing the list of things one could work on. Really nice idea!:) You may want to just consider thinking about a way through which no two or more people are working on the same set of specs based on the above list.

For the record, I'm currently working on the Integer specs for `ceil, floor, truncate and round` as part of [this PR](https://github.com/ruby/spec/pull/483)

[2017-10-08 12:10] eregon commented on #473
@boddhisattva You are right.
I suggest people announce here what they plan to work on, since there is some time before deciding to work on a spec and opening a PR.
(As we see, we already got two PRs for Dir.empty?)

[2017-10-08 13:30] cadwallion commented on #473
I am about to start in on specs for Integer#digits.

[2017-10-08 17:22] nilsding commented on #473
I'll tackle the `CGI::Cookie.parse` , separator one.

[2017-10-08 19:56] cadwallion commented on #473
I'm about to start `Numeric#finite?` and `Numeric#infinite?`

[2017-10-11 03:19] marcandre commented on #473
FYI, I added specs for `Enumerable#uniq`, since there were no tests for `uniq` without a block nor of how the elements are compared. 0a2d3158f0b10846d88a10cad6ffde6a69bcc9f4

[2017-10-11 16:04] andrykonchin commented on #473
working on Array#sum

[2017-10-11 16:06] andrykonchin commented on #473
working on Array#sum

[2017-10-11 17:54] tegon commented on #473
I'm going to work on `Rational#round`

[2017-10-13 14:51] kaid7 commented on #473
I'm going to work on
`Symbol#upcase, Symbol#downcase, Symbol#capitalize, and Symbol#swapcase now
work for all of Unicode. See the documentation of String#downcase
for details. Feature #10085`

[2017-10-13 16:03] charle692 commented on #473
I'm going to work on
`IO#gets, IO#readline, IO#each_line, IO#readlines, IO.foreach now takes
an optional keyword argument, chomp flag. Feature #12553`

[2017-10-13 17:42] charle692 commented on #473
I'm now going to start working on
`StringIO#gets, StringIO#readline, StringIO#each_line, StringIO#readlines now takes
an optional keyword argument, chomp flag. Feature #12553`

[2017-10-13 18:19] jamesmacwilliam commented on #473
I'm working on `Language: Multiple assignment in conditional expression is now allowed. Feature #10617`

[2017-10-14 01:17] joshgelbard commented on #473
Started working on `Enumerator::Lazy#chunk_while`.

It seems `#chunk`, `#slice_after`, `#slice_before`, and `#slice_when` are also missing, so I'll do those too. (Already did `#chunk`.)

[2017-10-14 10:02] andrykonchin commented on #473
working on "New methods: Set#compare_by_identity and Set#compare_by_identity?"

[2017-10-14 10:31] andrykonchin commented on #473
working on TracePoint#callee_id

[2017-10-14 12:50] nilsding commented on #473
I'll start working on the `\X` operator in Regexp.

[2017-10-14 15:41] nicoolas25 commented on #473
Hello, I'll start working on this one:

[2017-10-14 16:14] nicoolas25 commented on #473
Hi again, I'll work on this one now:

[2017-10-15 10:47] eregon opened #513 "Add specs for TracePoint"
Specs for TracePoint are currently missing, as discovered by #508.
I am not sure why they were missed.

A good way to start would be to run this in ruby/spec:
[code]

Then to fill the templates :)

[2017-10-15 11:58] eregon opened #514 "Add/Restore specs for refinements"
Specs for refinements are currently missing.
There is documentation for it available at
https://bugs.ruby-lang.org/projects/ruby-trunk/wiki/RefinementsSpec.

There once was some specs for it, initiated by @headius in f603267b0afb2d9760d5a480078ee8cbb8a0984d.
For some reason unknown to me, these were removed in commit 56c5528f3d1aaa94a80e59074459984baefca2cb and parent commits.

I think restoring t

[2017-10-15 12:18] eregon opened #515 "Documentation"
Currently, there is no documentation listing the matchers or guards to get started.
Of course there are plenty of examples in existing specs, but these might not be easy to find.

I am thinking to add a simple list of matchers & guards in CONTRIBUTING.md, any thoughts?

[2017-10-15 13:08] eregon commented on #515
Fixed by #516. Or at least it should be a good start :)

[2017-10-15 13:08] #515 closed

[2017-10-15 13:16] Atul9 commented on #513
I am working on this.

[2017-10-15 17:19] eregon commented on #473
I'll work on Thread#report_on_exception and Thread.report_on_exception.
Maybe we can even enable it by default in ruby/spec to catch threading errors more easily.

[2017-10-15 18:43] andrykonchin commented on #473
working on "IPAddr#== and IPAddr#<=> no longer raise an exception if coercion fails."

[2017-10-15 19:12] andrykonchin commented on #473
working on "New method: Net::HTTP.post"

[2017-10-16 11:43] andrykonchin commented on #473
working on optparse into argument

[2017-10-16 12:02] andrykonchin commented on #473
working on "CSV Add a liberal_parsing option. "

[2017-10-19 12:47] aarek commented on #473
working on

as level, progname, datetime_format, formatter.

[2017-10-19 14:32] wswidzinski commented on #473
working on

[2017-10-24 10:54] eregon commented on #514
Closed by #526, thank you @andrykonchin!

[2017-10-24 10:54] #514 closed

[2017-10-24 13:40] sgarciac commented on #473
FInished working on  :

 #532

 #531

[2017-10-25 19:43] AndrewSpeed commented on #473
I'll work on:

From a quick glance, it looks like we don't have any specs for `Net::FTP.new`, so I'll add them as well

[2017-10-25 20:52] AndrewSpeed opened #534 "Suggestions for testing options in Net::FTP.new"
I'm working on new specs for [the options hash for new](https://ruby-doc.org/stdlib-2.4.0/libdoc/net/ftp/rdoc/Net/FTP.html#method-c-new) made available in Ruby 2.4 as part of #473, and I wanted to get some input on how to approach testing the `ssl` option, as this has a branching condition based on whether `OpenSSL::SSL` is defined. Do we have any examples in the codebase where something similar i

[2017-10-25 22:20] eregon commented on #534
Here is a somewhat similar example of YAML requiring OpenStruct in its specs:
https://github.com/ruby/spec/blob/81c9b4fe45f9b3b53ec520a3ae73e0ff9af3ff64/library/yaml/dump_spec.rb#L37-L41

[2017-10-25 22:28] AndrewSpeed commented on #534
Perfect, thanks very much @eregon I'll try implementing that tomorrow and hopefully get a PR up shortly afterwards 🙂

[2017-10-28 22:47] AndrewSpeed commented on #534
I'm having some difficulty testing a particular branch of the `initialize` method, namely: https://github.com/ruby/ruby/blob/trunk/lib/net/ftp.rb#L223

The problem is that I want to test that when the `ssl` option is passed without `openssl` being imported, it should raise an exception. Normally the way to do this from what I've seen is to wrap the call you expect to raise the exception in a lambd

[2017-10-29 14:02] eregon commented on #534
That sounds like the simplest solution to me.
[code]

But actually, this should only happen if the openssl extension is not *installed*.
That is, lib/net/ftp.rb does `require "openssl"` https://github.com/ruby/ruby/blob/5256f7752763249288662c6c5ffc5686d244a535/lib/net/ftp.rb#L23

So I think it's actually not so useful to test for this condition, it's just a sign of a broken Ruby installation with

[2017-11-04 19:03] #513 closed

[2017-11-17 18:32] eregon commented on #68
Closed by #537, thank you @andrykonchin!

[2017-11-17 18:32] #68 closed

[2017-12-11 18:56] marcandre opened #550 "Improve specs for Enumerable#all? one? and none?"
I [updated the specs for `any?`](https://github.com/ruby/spec/commit/c76b47c32a2cdda71e183ebf7747d9267c165fc4), but similar changes should be made to `all?`, `one?` and `none?`.

I suspect that some of the specs would benefit it there were shared.

*Note*: For reasons that escape me, `Hash#any?` and `Array#any?` are specialized for performance reasons, but not the other methods.

[2017-12-11 20:20] marcandre opened #554 "Enumerable#any?, one? and all? with multiple yield"
The spec 'gathers whole arrays as elements when each yields multiple' is incorrect in all of these.

It should test what is actually yielded, as there are different behaviors on what to do with Enumerable that do `yield 1, 2` vs `yield [1, 2]`

[2017-12-13 17:28] marcandre opened #556 "[Ruby 2.5] Struct.new(..., keyword_init: true)"
Anyone wants to write these?

Should be done in the next few days, before the official release.

See https://bugs.ruby-lang.org/issues/11925

[2017-12-13 18:10] marcandre opened #557 "[Ruby 2.5] FrozenError"
A huge bunch on specs should be modified to spec Ruby 2.5's behavior of raising a `FrozenError` when attempting to mutate a frozen object.

Instead duplicating the affected specs and referring to `FrozenError` directly, the helper `frozen_error_class` should be used (see [this](https://github.com/ruby/mspec/pull/35)). As such, no direct mention of `FrozenError` should appear in the specs, only `fr

[2017-12-15 15:47] eregon opened #565 "Write specs for new Ruby 2.5 features and changes"
ruby/spec already contains many specs for 2.5, but we should aim to cover all new features and important changes.
This will improve the test coverage of these features (and maybe discover a few bugs along the way), allow other Ruby implementations to implement the changes faster with more confidence and document clearly the new behavior.

The new specs should be within a version guard block:
[code

[2017-12-15 15:52] eregon commented on #565
@marcandre @andrykonchin Could you tick the checkboxes of features you added specs for?
Unfortunately clicking on the checkbox is not enough, you need to edit the issue and add `x` inside the `[ ]`.
Please also do the same when adding new specs, first tick it to avoid conflicts :)

For contributors without commit access, please write here the when you start working on a spec, to avoid having multi

[2017-12-18 02:43] Atul9 commented on #557
Yes, I have started working on this.

[2017-12-18 03:28] Atul9 commented on #557
In the spec description should we rename `RuntimeError` to `frozen_error_class` OR  `FrozenError`
- raises a `RuntimeError` if the array is frozen
to
- raises a `frozen_error_class` if array is frozen?
OR
- raises a `FrozenError` if array if frozen?

[2017-12-18 04:29] marcandre commented on #557
Mmm, good question. Maybe simply "raises the appropriate error if the ..."

[2017-12-18 09:48] eregon commented on #557
I think in this case it would be fine to use the new terminology (`raises a FrozenError if the array if frozen`), what do you think @marcandre ?
I was thinking to `raises a frozen error if the array if frozen` but that's just misleading (as if the error was frozen).
`raises the appropriate error if the array if frozen` doesn't say which so then we could just be generic and say `raises an error if

[2017-12-18 09:54] eregon commented on #557
@Atul9 let's go with `FrozenError` in the description for now. It's easy to globally search/replace after if needed :)

[2017-12-18 09:56] Atul9 commented on #557
@eregon okay

[2017-12-18 10:55] andrykonchin commented on #557
I would chose interpolation
[code]

[2017-12-18 15:43] eregon commented on #557
@andrykonchin That's smart :)
In general it's bad to have variable parts in the spec descriptions, because then they cannot be tagged.
But since `frozen_error_class` only changes per Ruby version it would be fine.

[2017-12-20 10:21] #557 closed

[2017-12-28 16:10] #534 closed

[2017-12-28 19:12] cadwallion commented on #565
Just a heads-up, but it appears you [fixed Integer#floor/truncate/ceil/round](https://github.com/ruby/spec/commit/64c06f9c9faccba0c461fd15eccaaa2df04dacfc) in October, but it hasn't been checked off yet. :)

[2017-12-28 19:30] eregon commented on #565
@cadwallion Thanks, I checked it now :)

[2017-12-28 19:35] cadwallion commented on #565
Working on FrozenError, PR should be up shortly.

[2017-12-28 19:39] eregon commented on #565
For ruby/spec committers: I made the checkboxes all top-level, which allows to tick them.

[2017-12-28 19:41] eregon commented on #565
@cadwallion I think FrozenError is already done in #568.

[2017-12-28 19:45] cadwallion commented on #565
Why yes, yes it is. And much more thoroughly than mine. Thanks for the heads up!

[2017-12-28 19:49] eregon commented on #565
`Process.last_status as an alias of $?`, `Thread#fetch` and `KeyError` should all be mostly straightforward and afaik not yet done.

[2017-12-28 19:52] cadwallion commented on #565
I'll start in on both `KeyError` features.

[2017-12-30 20:57] eregon opened #575 "Document shared specs"
Shared specs are a key tool to avoid duplication in ruby/spec.
But they are a bit tricky to use.
They should be documented in `CONTRIBUTING.md`.

[2017-12-31 05:42] cadwallion commented on #575
I've started in on documentation for shared specs, but due to their complexity it's getting a bit long.  I'm wondering if perhaps instead of having everything in `CONTRIBUTING.md`, it may make sense to move the Guards and Shared Specs into separate docs and link them in the `CONTRIBUTING.md` . They could either live in a `docs/` directory or in the Wiki itself.

I'm happy to keep it all in `CONTRI

[2017-12-31 11:51] eregon commented on #575
For convenience, I think it's better to use a file in the repo than the Wiki.

I think `CONTRIBUTING.md` would be the most obvious place to look for this.
Maybe we can refine based on the PR, but I think it would be best to have the most important documentation to write specs in one place.

[2018-01-01 14:56] znz commented on #565
`Pathname.glob` with `base:` and `Pathname#glob` are missing?

[2018-01-02 13:19] eregon commented on #565
@znz I did not add the stdlib NEWS here since it seems more important to focus on language & core changes.

The standard library is almost like gems nowadays, and we can't possibly spec all gems, it's the responsibility of their maintainers to test them properly.
That said, specs for stdlib are welcome in ruby/spec.
But full coverage of stdlib seems an unrealistic goal, which `ruby/spec` was never

[2018-01-02 18:56] eregon opened #578 "Move Fixnum/Bignum specs to Integer"
Since Ruby 2.4, Fixnum and Bignum have been unified in Integer.
Specs already handle this change but the structure was not updated.

Using the 2.5 convention (`Integer` methods instead of splitted between `Fixnum` and `Bignum` methods) seems nicer as everything is in one place.
So we should move specs in `core/fixnum` and `core/bignum` to `core/integer`, following where they live in Ruby 2.4 and m

[2018-01-04 22:57] andrykonchin commented on #556
Done https://github.com/ruby/spec/pull/571

[2018-01-04 22:57] #556 closed

[2018-01-10 14:06] eregon commented on #578
Fixed by #580 .

[2018-01-10 14:06] #578 closed

[2018-01-10 14:11] eregon commented on #575
@cadwallion Could you show me what you have currently? :smiley:

[2018-01-10 20:38] cadwallion commented on #575
Woops, that'd be helpful if I actually submit what I wrote. :) . #582 added.

[2018-01-13 19:01] eregon commented on #575
Fixed by #582, thanks @cadwallion!

[2018-01-13 19:01] #575 closed

[2018-01-27 21:04] MSP-Greg opened #587 "BigDecimal & YAML (Pysch)"
@eregon

While testing a build of 2.3.6 with all default gems updated/installed, I had spec failures in BigDecimal & YAML (Psych).  I believe some of the tests are using `ruby_version_is` to check for API changes.  Since most (all?) default gems have internal version numbers, would PR's be accepted to use those instead?

Thanks, Greg

[2018-01-29 10:29] eregon commented on #587
So you're testing a custom build of 2.3.6 with updated default gems?

I suppose it's fine, although I don't know how much that is supported (I could imagine some of these gems becoming incompatible with older versions).
How can you retrieve the running version of BigDecimal and Psych?

Please open a PR and let's discuss there to see the changes concretely.

[2018-01-29 16:23] MSP-Greg commented on #587
Using YAML, it's just a matter of replacing [`library/yaml/tagurize_spec.rb:4`](https://github.com/ruby/spec/blob/83063a312d81113ebe5cfe8f90836da4024dcd35/library/yaml/tagurize_spec.rb#L4)
[code]

with
[code]

Luckly, both `YAML` (Psych) and `BigDecimal` have `VERSION` constants.

Question - is there a more 'spec' way of doing it?  If not, I'll do a PR...

Thanks, Greg

[2018-01-30 10:35] eregon commented on #587
Using a [custom guard](https://github.com/ruby/spec/blob/master/CONTRIBUTING.md#guards) instead of `if` is better here:
[code]

[2018-01-30 15:40] MSP-Greg commented on #587
Thanks.  That's helpful, and I re-read the doc (it was a while ago)...

Question - I've added a method as below:
[code]

If something like this was added, where would you put it?  Here, `mspec`, etc...

By using the method, bigdecimal is working correctly with ruby 2.3.3, 2.4.3, and trunk, along with my 'hot-rodded' version of 2.3.6.  BigDecimal has changed from `BigDecimal.ver` to `BigDecimal::VE

[2018-01-30 15:55] eregon commented on #587
Loading RubyGems in mspec is definitely not ideal, as mspec tries to stay as simple as possible with the fewest dependencies (even on stdlib).

Long term, I think we should move these specs in the separate repos for gemified stdlibs.
Then at least the tests/specs should be up-to-date with the code.
But running those tests/specs might become more complex.

I only try to make ruby/spec work with lat

[2018-01-30 16:16] MSP-Greg commented on #587
Using the current master, result is:
[code]

Using my patches, result is:
[code]

Log file attached.  Note that 381 specs are not run...

Thanks, Greg
[bigdecimal_spec_results.txt](https://github.com/ruby/spec/files/1678431/bigdecimal_spec_results.txt)

[2018-02-01 11:17] eregon commented on #587
Please open a PR, I think we can guard specs easily enough, not so many seem to fail.
We can use some helper method in `library/bigdecimal/fixtures/classes.rb` if the logic to get the version is more involved.

[2018-02-01 14:03] MSP-Greg commented on #587
Thanks for the suggestion.  I changed the code for the above method, it now opens the gemspec file and uses a regex to find the version.  So, no longer need to load RubyGems...

I'll do a PR today or tomorrow.  Greg

[2018-02-28 15:08] willglynn opened #589 "Range/flip-flop precedence"
I noticed [this](https://github.com/ruby/spec/blob/v1.x/language/precedence_spec.rb#L342-L350) in `language/precedence_spec.rb`:

[code]

This section entered the repo via 6c1c34a6bbf28b55e59bc6a97a1211718082d3e7, almost ten years ago, so while I don't _quite_ know what it's talking about, the original rationale for leaving it commented out seems likely to be incorrect by now.

Should this be re-e

[2018-03-01 09:59] #589 closed

[2018-03-01 10:00] eregon commented on #589
Thanks for the report, I re-enabled the spec in a23caca.
It seems like it was a bug in Rubinius at the time.

[2018-05-26 13:38] #550 closed

[2018-06-23 16:02] MSP-Greg opened #606 "Trunk failures"
@eregon

In ruby-loco (trunk testing), `make spec` has always passed.  Running `mspec` intermittently has errors, but no failures.

I have noticed the issue here with trunk.  It might take a few days, but I'll do some local testing to see what the issue is.  As I recall, in the past it was stable...

Thanks again for your work, Greg

[2018-06-24 21:42] eregon commented on #606
Thank you for the report, I didn't notice.
Indeed:
https://ci.appveyor.com/project/eregon/spec-x948i/build/1323/job/cl4g9j1ejwpddswf seems stuck
https://ci.appveyor.com/project/eregon/spec-x948i/build/1322/job/ug1ae6galunaa8g5 SEGV
https://ci.appveyor.com/project/eregon/spec-x948i/build/1320/job/yq2g9lwnd4bro5ik SEGV

The SEGV shows
[code]
which is from
[code]

I fixed a bug related to that on `tr

[2018-06-24 21:51] eregon commented on #606
More details about uplevel on https://bugs.ruby-lang.org/issues/14846

[2018-06-24 22:01] eregon commented on #606
The [latest build](https://ci.appveyor.com/project/eregon/spec-x948i/build/1325/job/30lw9dtoey511nrr) passes so I guess my patch to MRI fixed it :)
Please reopen if you observe problems again.

[2018-06-24 22:01] #606 closed

[2018-06-24 22:05] MSP-Greg commented on #606
Yes, I just saw that.  FYI, the link to my results page is:
https://msp-greg.github.io/file.mingw_test-all.html#test-spec-Failure-Error-Summary.  Runs three times a day, but I have to update the results page manually...

Thanks, Greg

[2018-06-24 22:09] eregon commented on #606
What do you mean by errors/failures?
failure = crash, error = failed spec?

Or mspec's notion of errors/failures in the summary line? I personally don't differentiate between mspec errors & failures, they are failed specs to me (regardless if they throw an exception or return a wrong value), which need to be fixed.

[2018-06-24 22:16] MSP-Greg commented on #606
Yes.

I don't recall 'crashing' (as in forced exit) ever happening.  I do have code to trap for it though...  `test-all` does 'freeze' from time to time.

[2018-06-25 11:16] eregon commented on #606
By crashing I meant SEGV or the spec process to abort in the middle of the specs.
Both are quite rare, although SEGV do happen from time to time.

[2018-07-11 22:05] eregon opened #609 "Importing specs from rubysl-socket"
I plan to import specs from https://github.com/rubysl/rubysl-socket and merge them with the existing `socket` specs in ruby/spec. This should expand and improve the existing specs for the `socket` stdlib.

[2018-07-16 11:19] eregon opened #613 "Add check in CI that no unexpected top-level constant is added by specs"
See https://github.com/ruby/spec/pull/612#discussion_r202647216 for instance.

I also recently discovered some `include Socket::Constants` which is definitely wrong:
https://github.com/ruby/spec/blob/181dd65d49b4636080ed22c7054abddafec8471d/library/socket/socket/listen_spec.rb#L4

The check should discover constants added at the top-level before `describe` like:
[code]

but also constants added by

[2018-07-16 12:16] andrykonchin commented on #613
It looks pretty simple with [Module.constants](https://ruby-doc.org/core-2.2.0/Module.html#method-c-constants). I guess new top-level constant should result in warning?

[2018-07-16 12:49] andrykonchin commented on #613
Looks good

There are quite a few specs which require core/std libs or fixture file with top-level constant right in `it`'s block like [here](https://github.com/ruby/spec/blob/master/core/main/using_spec.rb#L26) and [here](https://github.com/ruby/spec/blob/master/library/yaml/dump_spec.rb#L38)

Does it make sense to move these calls (of `require`) to the top level?

[2018-07-17 12:42] andrykonchin commented on #613
Yes. Later this week.

[2018-07-18 10:57] #609 closed

[2018-08-10 22:06] chrisseaton opened #616 "Can't run cext specs directly"
[code]

Works fine.

[code]

Doesn't work, because `spec/ruby/optional/capi/spec_helper.rb` requires `spec/ruby/optional/capi/spec_helper.rb`, which runs the specs before returning, allowing the rest of `spec/ruby/optional/capi/spec_helper.rb` to run.

[2018-10-03 13:33] submitnine commented on #473
Hi, I created a PR #619  to have some tests about "Regexp/String: Updated Unicode version from 8.0.0 to 9.0.0 Feature #12513".

[2018-10-03 21:34] nilsding commented on #565
@eregon Unless I'm missing something I guess the `Regexp/Support absent operator` part is done already (was apparently part of 2.4 already): https://github.com/ruby/spec/blob/master/language/regexp/modifiers_spec.rb#L42

[2018-10-04 14:49] marcandre commented on #554
*TLDNR*: I'm closing this issue, as I'm no longer convinced we should spec the completely inconsistent behaviors for multiple yield.

*Detailed*:
It's quite confusing, but `yield 1, 2` and `yield [1, 2]` can have a different effect in some circumstances, in particular if the block is a method, or if the block captures with `*args` for example.

Here's a simple example with `Hash`:

    {a: 1}.find

[2018-10-04 14:49] #554 closed

[2018-10-05 01:21] MSP-Greg opened #622 "core/ kernel/autoload_spec.rb - 4 failures when run alone?"
While working on multi & random, I found failures in [`core/kernel/autoload_spec.rb`](https://github.com/ruby/spec/blob/c60025c9776b9fc36605c1d47757375e23cdf424/core/kernel/autoload_spec.rb).  When I then ran it alone, I also had 4 failures.

Wondering if anyone can repro that?

Not being that familiar with scoping in MSpec, I'm not sure what the issue is.  The attached patch does fix the issue (a

[2018-10-05 01:32] eregon commented on #622
IIRC it works fine when run alone, but maybe there was a recent regression.
Moving the autoload? calls in before :all is not quite correct as we should call autoload? once per spec example (`it`).

Could you share the log of the failures?

And could someone confirm it works fine when run alone on Linux or macOS? (I can't myself)

[2018-10-05 01:55] MSP-Greg commented on #622
@eregon

Thought you were AFK...  Running Windows right now?

All four return nil, but only when run alone or random, not when run non-random.  Also, using the ruby version, the files looked the same (same number of lines), but I didn't check...  Log below:
[code]

[2018-10-05 02:11] MSP-Greg commented on #622
@eregon

Attached is a patch that allows "-j -V -H' for parameters.  I'm sure it's all wrong, but I needed something that output filenames along with example count.  It's set up for the spec folder in ruby...

I've also got a ps1 file that drives a loop and splits STDOUT & STDERR to two different files, let me know if you'd like that.

[2018-10-05-mspec_multi.patch.txt](https://github.com/ruby/spe

[2018-10-09 19:37] odaira opened #626 "Buffer size is not larger than the pipe capacity on Linux ppc64le"
https://github.com/ruby/spec/blob/fc1cf69cea933e8e5ed942d49ca9eea518818633/core/io/syswrite_spec.rb#L58

The default pipe capacity of Linux ppc64le is 1048576 bytes, while that of Linux x86_64 is 65536 bytes.  This test does not work as intended on ppc64le.  I am not sure if we should simply increase `larger_than_pipe_capacity`, so I am raising this issue.

[2018-10-27 10:39] eregon commented on #626
Thank you for the report.
I think it's fine to increase it to something like 2 megabytes.
@odaira   Could you make a PR for that?

[2018-10-29 22:35] #626 closed

[2018-12-10 01:10] deepj opened #636 "Ruby exception messages specs"
I've been inspired by the following two issues reported in TruffleRuby's issues

- https://github.com/oracle/truffleruby/issues/1467
- https://github.com/oracle/truffleruby/issues/1522

Any Ruby implementation would follow primarily original MRI exception messages.

[2018-12-10 12:08] eregon commented on #636
Hello and thanks for the report.
Chris already added a few specs for the first issue in https://github.com/oracle/truffleruby/commit/9d38715db488638aa5159d13ee4e176b0adedb9e#diff-bbff3c0323709bdf10685c36d74e08ed

Specs for the second issue are welcome, although it seems more of a nice-to-have (reporting all unknown arguments instead of the first one).

[2018-12-15 07:08] colby-swandale opened #637 "project setup and mspec"
Hi! 👋

This is a general question rather then an actual problem. Is there a reason why we need to clone the `mspec` repo to run these tests? As a person coming to this project for the first time, this seems to be a fair bit of work to setup. There is an `mspec` gem but there hasn't been a new release since nearly 3 years. Is there an opportunity make the setup process easier by releasing a new ver

[2018-12-15 12:46] eregon commented on #637
Hello,

Those are good questions, and relate to https://github.com/ruby/mspec/issues/14.

To get a better idea, what do you want to use `mspec` for?
Is it for running ruby/spec on a Ruby implementation? If so, the synchronized copy under `spec/ruby` and `spec/mspec` should be used (in MRI, JRuby, TruffleRuby, Opal), and there are shortcuts to run specs (e.g., `make test-spec` in MRI). Those are ru

[2018-12-15 12:50] eregon commented on #637
BTW, I was once using `bundle exec` to execute specs in TravisCI, with a `Gemfile` depending on `mspec` by using `path:` (which is a more standard setup), but this turned out to create subtle bugs, add complexity for external process specs, and slow down the execution of all specs quite significantly.

[2018-12-15 22:30] colby-swandale commented on #637
Thanks for answering my questions @eregon 👏

[2018-12-15 22:30] #637 closed

[2018-12-26 04:45] marcandre opened #640 "Write specs for new Ruby 2.6 features and changes"
ruby/spec already contains some specs for 2.6, but we should aim to cover all new features and important changes.
This will improve the test coverage of these features (and maybe discover a few bugs along the way), allow other Ruby implementations to implement the changes faster with more confidence and document clearly the new behavior.

The new specs should be within a version guard block:
[code

[2019-01-09 17:35] iliabylich commented on #640
This change was backported into 2.5.1 and we have specs for it - https://github.com/ruby/spec/blob/master/core/exception/full_message_spec.rb#L16-L36. Could someone mark it as "done" please (or specify what's missing in specs)?

[2019-01-09 17:50] eregon commented on #640
@iliabylich Thanks, I marked it as done, as well as the methods for which you made a PR :)

[2019-01-11 14:39] iliabylich commented on #640
We have specs for `Kernel#system` with `exception: true` - https://github.com/ruby/spec/blob/master/core/kernel/system_spec.rb#L28-L36

[2019-01-11 15:52] eregon commented on #640
@iliabylich  Thanks, checked.

[2019-01-13 15:03] eregon commented on #640
Awesome progress here, I've never seen specs coming so fast :)
A huge thank you to @marcandre, @andrykonchin and @iliabylich!

Let's finish the few remaining points on the checklist :)

[2019-01-15 13:43] iliabylich commented on #640
`String#crypt` wasn't completely deprecated - https://bugs.ruby-lang.org/projects/ruby-trunk/repository/trunk/revisions/66154/diff and I don't see event any warnings:
[code]

[2019-01-15 16:45] iliabylich commented on #640
We have them here - https://github.com/ruby/spec/blob/master/core/random/bytes_spec.rb#L28-L32

Same here - https://github.com/ruby/spec/blob/master/core/tracepoint/parameters_spec.rb

[2019-01-15 17:49] eregon commented on #640
@iliabylich  Indeed, it seems no warnings where added for `String#crypt`, so no behavior changed and I'll check the checkbox. https://bugs.ruby-lang.org/issues/14915#note-38

Thanks, I checked those 2 as well.

[2019-02-10 21:19] eregon commented on #613
https://github.com/ruby/mspec/pull/41 was (finally) merged, thanks @andrykonchin!
I'll document this in ruby/spec `CONTRIBUTING.md`.

[2019-02-10 21:19] #613 closed

[2019-02-10 23:21] eregon commented on #613
Related: other leak checks now also cause errors (instead of just warnings), to be noticed early and avoid regressions with https://github.com/ruby/mspec/commit/2ee56619e743f1e9b913ca8939f462b86d262e94

[2019-02-11 16:37] eregon commented on #613
Documented in https://github.com/ruby/spec/commit/4997df355c89138cec0b645c238940d06300e103

[2019-02-13 07:05] headius opened #659 "Need finer-grained way to specify reserved signals"
In the specs for Signal trap logic, there are a set of PlatformGuard lines used to specify the set of reserved signals on "ruby", "jruby" and "truffleruby". The spec proceeds to confirm that the unreserved signals can be handled and the reserved signals cannot.

Unfortunately this mechanism is not fine-grained enough for testing JRuby. Unlike the other implementations, JRuby can run on many differ

[2019-02-13 10:06] eregon commented on #659
Thanks for the report.
Indeed, it's proving hard to test signals meaningfully.
The current intent is to make sure each signal is either overridable, reserved or "cannot be trap'd" per OS semantics (only SIGKILL and SIGSTOP in that last category).
The specs also try to document which signals on which Ruby implementation are in which category, e.g. to get an idea of which signal are portably overrid

[2019-04-01 23:10] headius opened #662 "Remove or modify specs that reference RubyVM"
Recent commits have continued to add specs that reference the CRuby-specific `RubyVM` class. I believe these specs should either be moved to a CRuby-specific location or modified to not reference CRuby-specific internal features.

Here are the relevant references I found:

Specs for CRuby's experimental JIT (should not be in ruby/spec at all):
* https://github.com/ruby/spec/blob/023b5a543b33cbba96

[2019-04-02 11:25] eregon commented on #662
Generally agreed.
Especially, `RubyVM` should not be required to pass all specs.

I think some parts could be portable, e.g., the `--enable-jit/--disable-jit` command-line flags.
Do you think it would make sense other implementations support this "feature" too, or should we just remove the spec?

* `spec/command_line/feature_spec.rb`: I already changed the `feature_spec.rb` to be more general in M

[2019-04-02 11:37] eregon commented on #662
@headius I addressed the 4 cases you mentioned, so there are no more `RubyVM` on `master`.
Therefore I'll close this issue, thank you for reporting it.

I'd like to have your opinion on whether `--enable-jit/--disable-jit` should be portable. For now I removed the spec because it's rather unclear.

[2019-04-02 11:37] #662 closed

[2019-04-02 11:40] chrisseaton commented on #662
We were briefly thinking about supporting `--enable-jit` and `--disable-jit` in TruffleRuby, with obvious semantics, but decided against it in the end.

[2019-04-02 11:54] eregon commented on #662
Related, I'd like to clarify the naming of `RubyVM` and rename it to `CRuby` for clarity: https://bugs.ruby-lang.org/issues/15743

[2019-04-02 17:33] headius commented on #662
We agree that supporting a general JIT option is unlikely to be valuable to users; we default to JIT and they don't, and tuning beyond that really should be done in a per-impl way. We already have to support enough weird flags!

[2019-04-10 18:29] eregon opened #663 "Remove Ruby 2.3 support"
Since MRI 2.3 is [no longer supported](https://www.ruby-lang.org/en/news/2019/03/31/support-of-ruby-2-3-has-ended/), 2.3-specific guards and specs should be removed from ruby/spec so we don't keep ancient behavior in the suite.

I will take care of this.

[2019-04-10 19:39] #663 closed

[2019-04-10 19:55] eregon commented on #659
@headius Does that help you? Can we close this issue?

[2019-04-11 09:28] eregon opened #664 "Check in mspec that no 2 specs have the same name"
Otherwise, tagging one spec actually skips both specs.

I think there are quite a few instances of this in ruby/spec, so we'll need renames in the specs before enforcing the check.

[2019-04-11 12:44] chrisseaton opened #665 "Clocks are under-specified"
The documentation says which clocks `Process::CLOCK_...` constants should be available on which platforms - we could specify that.

The symbol versions of clocks, for example `:GETTIMEOFDAY_BASED_CLOCK_REALTIME` aren't specified at all.

[2019-04-11 15:02] eregon commented on #665
This might be a bit tricky as which `CLOCK_` are defined might depend on OS, kernel version, user permissions, etc, see https://github.com/ruby/spec/blob/master/core/process/clock_gettime_spec.rb

But we could certainly spec the common ones that don't have too much of these problems.

I'm a bit unsure whether those should actually be considered public API or internals accidentally leaking.
Since t

[2019-04-21 19:56] chrisseaton opened #667 "It should be easier to measure implementation completeness"
As a Ruby implementor I'd like to be able to measure how complete a Ruby implementation is, using the Ruby Spec Suite, in order to know where I need to do more work.

This is complicated for several reasons:

* Each implementation has a different version of the specs
* Each implementation has a different way of running the specs
* Some missing features show up as a lower number of examples (such a

[2019-04-24 04:44] eregon commented on #667
Currently there are a few MSpec "features":
https://github.com/ruby/spec/blob/ee612d7d5bfefb7b16051cff2c6278e571d70cc7/default.mspec#L52-L57

I agree most are not very useful.
Every serious Ruby implementation needs to implement Fiber and Encoding.

`with_feature :fork` is only used in 11 `core` spec files. It's probably OK to count those as failures on implementations without `fork`.

MJIT guards

[2019-04-24 08:45] k0kubun commented on #667
I do not follow the context. What's tags file? Why is `with_feature :mjit` not sufficient?

[2019-04-24 16:45] eregon commented on #667
@k0kubun Sorry, I should have included more context. I'll make a PR on ruby/ruby to show the proposed change more clearly.

[2019-04-28 15:53] eregon commented on #667
I now removed almost all features from ruby/spec master (see the linked commits on this issue: fiber_library, fiber, fork, encoding).

For MJIT I removed specs which were incorrect anyway and replaced the only spec left using it with a `guard_not`.

Remaining are the [readline feature](https://github.com/ruby/spec/blob/master/library/readline/spec_helper.rb) and the [socket features](https://githu

[2019-04-28 16:13] enebo commented on #667
@eregon am I wrong but I thought opal was using ruby/spec and did not support m17n?

[2019-04-28 17:42] eregon commented on #667
@enebo Indeed, I think Opal does not support encoding. Opal already has a system to exclude specs, so I assume that can be used to easily skip problematic specs (e.g., https://github.com/opal/opal/blob/master/spec/filters/unsupported/string.rb).
The main reason here is: It's not kept up-to-date, everyone adding specs assumes there are Encodings now in Ruby. I don't think anyone added a `with_featu

[2019-04-29 15:53] enebo commented on #667
@eregon good point about people not knowing about needing to add encoding feature and so long as Opal is already maintaining their own excludes that seems doubly reasonable.

[2019-05-16 22:23] eregon commented on #667
FWIW, Opal seems to support a fair bit of Encoding nowadays, so these `with_feature :encoding do` guards didn't have much value for Opal either (https://github.com/opal/opal/pull/1977 for details).

[2019-05-18 19:51] eregon commented on #667
@chrisseaton Back to the original issue;
To get the same numbers of examples, we at least need to have the same specs, so either:
* Running the alternative implementation's copy of the specs, for both the impl and MRI.
* Using the version of specs of a specs update/synchronization, then all copies of ruby/spec are identical, but this is only available around once a month.

Basically, we need the i

[2019-05-18 20:07] eregon commented on #667
FWIW, here is the output for running `:core` specs on TruffleRuby (including slow specs):
[code]

[2019-05-20 12:22] chrisseaton commented on #667
We could just have a system for co-ordinating a run of the specs, even if it isn't easily possible all the time.

We we would:

* Pick a release of each Ruby implementation
* Get all their tags on that release commit
* Run against the latest version of specs
* Add new tags as needed
* Look at the numbers

That combined with work to make tags the only way to exclude specs, would give a global view.

[2019-05-20 12:47] eregon commented on #667
We could do that, but we still need the 3 conditions mentioned [above](https://github.com/ruby/spec/issues/667#issuecomment-493702769).
For instance, there is currently no release of JRuby with Ruby 2.6.2 (or 2.6.3) compatibility (JRuby 9.2.7.0 targets Ruby 2.5.3).

This is not necessary, as long as specs error out cleanly and don't e.g., hang or kill the process, they'll just be counted as `error

[2019-05-23 22:21] eregon commented on #667
The 1 spec example difference for core specs between TruffleRuby and MRI is caused by Signal#trap specs:
[code]

due to having one more reserved signal on TruffleRuby JVM:
https://github.com/ruby/spec/blob/a019ab59e1ad9fb4c863e072282328bc03f7bf4d/core/signal/trap_spec.rb#L121-L133

This the only spec using `PlatformGuard.implementation?` and changing the number of examples based on it. I'll try to

[2019-05-23 22:24] eregon commented on #667
Those specs related to #659 BTW.

[2019-06-03 23:02] #659 closed

[2019-06-03 23:03] eregon commented on #659
Fixed by 01b75cbfd021fc6db9036d8305583128d3d7b836, which avoids hardcoding which signals are reserved and instead checks each signal is either reserved or can be `Signal#trap`-ed.

[2019-06-03 23:47] eregon commented on #667
With a couple more fixes, I now have the exact same set of specs, in the same order for `:core`, with TruffleRuby and MRI:
[code]
The full diff being:
[code]
The same for `:language`:
[code]
and `:command_line`:
[code]

`:capi` has 3 specs less on TruffleRuby (due to the Fixnum range):
[code]

Note that I'm running with `-Z`/`--dry-run` here but an actual run should give the same.

[2019-07-03 06:19] lopopolo opened #673 "String#[] specs should not make assertions about Range implementation"
This spec for `String#[]` defines mocks for `<=>` and `to_int` on objects used for constructing a `Range`. If the Ruby implementation (like, for example, mruby) does not call these methods when constructing `Range`s, the test fails.

https://github.com/ruby/spec/blob/94d98ff35192a88fd3e20786fc6acb22106b3789/core/string/shared/slice.rb#L256-L268

Can we change the spec to use a stub that doesn't va

[2019-07-03 06:21] lopopolo commented on #673
I still don't think the test will pass because it will blow up when constructing the range, but at least the mock will be satisfied.

[2019-07-03 13:45] eregon commented on #673
Thank you for reporting this.
I'm unsure. I think the current spec tests behavior which is valid on "full" Ruby implementations like MRI, JRuby, TruffleRuby, Rubinius, etc.

What does MRuby do here? Maybe it's a missing feature or a bug in MRuby?

I think it's OK for MRuby to not pass all ruby/spec, it implements a subset of full Ruby implementations. So maybe we just need a simple way to exclude

[2019-07-03 13:47] eregon commented on #673
Right, we can drop the call counts, I don't mind that. PR welcome.
I'd just like to keep testing that `to_int` is called, because it's user-visible behavior.

[2019-07-24 00:55] dnairednow opened #674 "🧠🧿👂🏻"
![](https://d33wubrfki0l68.cloudfront.net/33a12d8be0bc50be4738443101616e968c7afb8f/2c641/_common-resources/images/scalable.png)

[2019-07-24 00:58] #674 closed

[2019-08-04 16:26] lopopolo opened #676 "String#=~ does not assert that named capture groups are not extracted"
I ran into this while implementing [Artichoke](https://github.com/artichoke/artichoke).

[2019-08-04 16:46] eregon commented on #676
Could you make a PR?

I'm also not sure what you mean exactly (did you have `$1` implemented as a view and mutating the base string would change `$1`?), so code would be easier :)

[2019-08-04 17:28] lopopolo commented on #676
@eregon this section from the docs:

[2019-08-04 21:58] lopopolo opened #677 "Add JSON specs from flori/json"
JSON gem has[ tests implemented in test-unit](https://github.com/flori/json/tree/master/tests).

https://github.com/artichoke/artichoke/issues/77 would be lower risk if JSON tests existed in ruby/spec.

It'd be nice if we could port these tests to MSpec. 😄

[2019-08-04 22:37] lopopolo opened #678 "Regexp core tests do not include Regexp patterns with lookahead or back references"
Artichoke is attempting to create a hybrid Regexp engine and some components do not support lookahead or backreferences.

My naive implementation to wholesale replace oniguruma failed at a distance in `uri` specs.

[2019-08-05 13:34] eregon commented on #678
The regular expression syntax is considered part of `language`/.

https://github.com/ruby/spec/blob/master/language/regexp/anchors_spec.rb has specs for lookaheads.
https://github.com/ruby/spec/blob/master/language/regexp/back-references_spec.rb has specs for backreferences.
And https://github.com/ruby/spec/blob/e912a8daeb9a7e4ea7360a0686c9c65815848b6c/language/regexp_spec.rb#L116-L118 has specs f

[2019-08-05 13:34] #678 closed

[2019-08-05 13:45] eregon commented on #677
In general, specs for the standard library are less complete than the rest.
I think this makes sense with standard libraries becoming their own repositories, gems, with their own tests.

I think there is not a lot of value to convert an entire test suite from tests to specs or vice-versa.

I'm not against adding new standard library specs either and it does make sense for a number of them, but I s

[2019-08-05 14:58] eregon commented on #676
Right, and only if the regexp is a literal of course.

The existing spec regarding this is in
https://github.com/ruby/spec/blob/e912a8daeb9a7e4ea7360a0686c9c65815848b6c/language/match_spec.rb#L42-L49
PR welcome :smiley:

[2019-10-06 17:35] BurdetteLamar opened #690 "ENV method return values encodings expectations"
Some of the specs for ENV check the encodings of returned strings (usually a name or value);  some don't.

Should more specs check this?  And how to know when it's appropriate?

[2019-10-07 18:39] eregon commented on #690
Yes, it's generally a good idea to test the encoding of Strings returned by APIs, especially those interacting with process values like the environment.

Testing it for the most common ENV#[] method is important. Testing it for every Hash-like method of ENV seems redundant, it seems unlikely a method would return a String of a different encoding than what other ENV method return.

As usual, this i

[2019-10-07 18:39] #690 closed

[2019-10-07 20:13] BurdetteLamar commented on #690
Thanks, eregon.

[2019-10-25 14:05] Efesto commented on #565
Hello everyone, I'm working on Kernel#pp Feature #14123

[2019-10-25 21:11] eregon commented on #565
@Efesto Right, `Kernel#pp` already has specs, I marked it as done.

[2019-11-03 11:39] #665 closed

[2019-11-03 12:50] eregon commented on #473
I wrote specs for the last remaining items.

[2019-11-03 12:50] #473 closed

[2019-11-03 13:01] eregon commented on #640
We made it, all items above are spec'd now!

[2019-11-03 13:01] #640 closed

[2019-11-03 14:44] eregon commented on #565
I wrote the specs for the final missing pieces, thank you everyone!

[2019-11-03 14:44] #565 closed

[2019-11-03 14:48] eregon commented on #677
I think for `json` we should use the tests/specs inside that repository, and not duplicate them here (which would quickly become out of date, etc). So I will close this issue.

For the matter of being able to run them easily, maybe we could try to convince the json authors to convert tests to specs? No idea how realistic that is.

@hsbt also made it clear recently it's better for default gems to h

[2019-11-03 14:48] #677 closed

[2019-11-03 14:52] eregon commented on #676
It seems to me specs about this are already fairly complete in spec/language/match_spec.rb.
I added an extra spec in 659d233c79f0ff8d0a243e5684a25afbcdc76edb

[2019-11-03 14:52] #676 closed

[2019-11-03 14:55] eregon commented on #673
It doesn't seem valuable to change this spec, which is useful to test "full" Ruby implementations.
Calling any of these methods more than expected could lead to incorrect behavior.

[2019-11-03 14:55] #673 closed

[2019-11-03 14:59] eregon commented on #622
@MSP-Greg Can you still reproduce?

The patch above seems to change formatter stuff, but nothing about autoload specs.

[2019-11-03 15:00] eregon commented on #587
@MSP-Greg Could you do a PR if this is still an issue?

[2019-11-03 15:07] MSP-Greg commented on #622
@eregon

Can't repo.  Just ran `../mspec/bin/mspec -j core/kernel` a few times against
[code]

It ran fine.  I'll close...  Sorry.

[2019-11-03 15:07] #622 closed

[2019-11-03 15:40] MSP-Greg commented on #587
@eregon

At the time, I think I was building 2.3.6 for an application with embedded Ruby, which would not work with 2.4+ due to Integer issues.

Given that 2.3 is unsupported, I'll close...

[2019-11-03 15:40] #587 closed

[2019-11-03 15:49] eregon commented on #622
Great :)

[2019-11-03 15:51] #454 closed

[2019-11-03 15:55] MSP-Greg commented on #622
@eregon

JFYI, I just tested locally, CI on AppVeyor runs in about an hour.  Conversely, a few years ago, I often had situations where CI would fail, but locally wouldn't.  Much less common today.

So, other than patches to get output like:
[code]

The only 'spec' patch I have is mentioned in:
https://bugs.ruby-lang.org/issues/16265
having to do with ssp ('Stack Smashing Protector')

Thanks for al

[2019-12-27 23:52] chrisseaton commented on #667
I think form Benoit's last comment this is sufficiently fixed. If there's other things we want we should open new more specific issues.

[2019-12-27 23:52] #667 closed

[2019-12-30 16:37] eregon opened #745 "Write specs for new Ruby 2.7 features and changes"
ruby/spec already contains some specs for 2.7, but we should aim to cover all new features and important changes.
This will improve the test coverage of these features (and maybe discover a few bugs along the way), allow other Ruby implementations to implement the changes faster with more confidence and document clearly the new behavior.

The new specs should be within a version guard block:
[code

[2019-12-30 17:52] eregon commented on #745
@andrykonchin I tried to keep the ones you checked after my last fix for links to issues. Should be fine but would be good if you can double-check.

[2019-12-30 19:30] andrykonchin commented on #745
@eregon Checked 👍

[2020-02-09 15:36] eregon opened #754 "Deprecate should_not raise_error in MSpec and replaces usages in ruby/spec"
See https://github.com/ruby/spec/pull/753/files#r376792963

`should_not raise_error` is the same as testing nothing.
Each example already implicitly test no exception is raised.
There might be a few legit cases, but I would expect the vast majority could be removed and replaced with useful expectations actually testing it works as expected.

Currently there are about 176 `should_not raise_error` i

[2020-04-02 19:53] eregon commented on #659
Link to the last version listing reserved signals per implementation explicitly:
https://github.com/ruby/spec/blob/ebdf0d1b06b39374a85baaae53771449ab1fe3d7/core/signal/trap_spec.rb#L118-L133

(I've been looking for it a few times, it's useful in terms of documentation and to get an overview)

[2020-04-04 17:27] MSP-Greg opened #765 "MinGW 2.5.8 failure"
I saw the commits in ruby/ruby, and came here.  I noticed the 2.5.8 fail, and also the 2.5.7 pass.  More weird stuff.  It involves some or all of the below code.  With 2.5.8, I think I was seeing a syntax error (?):

https://github.com/ruby/spec/blob/7289ea3e3c22fb41b58d072e966420845cca6e9e/core/binding/local_variable_set_spec.rb#L60-L69

1. I could repo it locally.
2. I revised the test, and it p

[2020-04-04 20:28] eregon commented on #765
Thanks for investigating this, I was puzzled why 2.5.8 fails and unfortunately there isn't much details in the [CI log](https://github.com/ruby/spec/runs/559460946) (we could do a run without `-j` to try to get more details).

Maybe something that would help is to wrap in `eval()` the Symbols, so a parsing error wouldn't prevent to load the file.
Maybe something changed in the parser?
Sounds like

[2020-04-04 20:41] MSP-Greg commented on #765
Very possible.  I've never looked in spec, but I use Ripper more than YARD in https://msp-greg.github.io/, and Ripper changes have bit me a few times.

Yeah, welcome to my world.  What I really hate is when local and CI behave differently.  I'll look at it later...

[2020-04-05 17:45] MSP-Greg commented on #765
Reminder, I'm not a strong c type.  I looked at the code in proc.c, beyond my pay grade...

But, the following code works with Ruby 2.6 and later.  With Ruby 2.5.7 and 2.5.8, the 'Lambdas local_variable_set' iteration silently stops.  I checked each of the three values, I believe all behave the same.

See https://github.com/MSP-Greg/ruby-testing/runs/562393278.  JFYI, the STDOUT.flush calls were n

[2020-04-05 17:48] eregon commented on #765
:+1: I think this should be enough to report a bug to https://bugs.ruby-lang.org/, could you report it?

[2020-04-05 18:32] MSP-Greg commented on #765
See https://bugs.ruby-lang.org/issues/16759

[2020-04-10 04:21] ioquatix commented on #659
Signal handling is an important part of multi-process servers.

- USR1 in particular is one which is commonly used for startus.
- HUP for restarting.
- INT for graceful shutdown.
- TERM for immediate shutdown.

Some basic guarantees about what signals are safe across all platforms would be helpful.

[2020-04-10 10:58] eregon commented on #659
`USR1` is reserved by HotSpot as you can see above (on JRuby and on TruffleRuby in `--jvm` mode), the others are fine, I think no common JVM reserves them.

Note that the default `INT` handler on JRuby doesn't have the same semantics as on MRI and TruffleRuby (i.e. to raise an `Interrupt` exception on the main thread). Instead it's just the default handler from the JVM which just kills the entire

[2020-04-28 13:28] eregon opened #767 "MSpec #ruby_exe should by default check that the exit status is success"
And we should add an option to skip that check, but I would think most use cases want to check the exit status but currently don't.

[2020-05-02 14:24] eregon commented on #765
It's still failing: https://github.com/ruby/spec/runs/638859779?check_suite_focus=true
What should we do about this?

[2020-05-02 14:43] MSP-Greg commented on #765
I'll have a look this weekend.  I've got two messages above about 2.5.x versions, I'll recheck (probably with Actions) to confirm what passes and what fails, then try to see what the cause is...

Thanks, and hope things are well.

[2020-05-22 21:34] eregon commented on #765
I'll "allow failures" for 2.5.8 on Windows for now: 663cf3112c48f3377c900b264b313afa642570e5

[2020-05-22 21:48] MSP-Greg commented on #765
Sorry, never replied.  Got frustrated, as my c skills are, at best, trivial.  Simple stuff only, so determining why only 2.5.8 on Windows is failing is way beyond my skill set...  Thanks.

[2020-06-21 14:13] chrisseaton opened #771 "Spec &nil"
Spec passing `&nil` as a block argument. Doesn't seem to appear anywhere at all in specs, and it's not specifically tested in MRI, although it is used in two places in MRI code. My use-case was calling `super` but wanting to handle the block in my override.

Thanks to @noahgibbs https://twitter.com/codefolio/status/1274705180420902916

[2020-06-21 17:05] eregon commented on #771
Would be good to test it in the context of `super(*args, &nil)` indeed.
For normal calls I'd guess it's already tested in many places, though `foo(&block)` with `block` being `nil`.

[2020-06-21 17:07] eregon commented on #771
Could you do a PR?
I thinks a new spec example around https://github.com/ruby/spec/blob/ffb824547923b0dfa1dba135453da8b4d0484019/language/super_spec.rb#L90 would fit nicely.

[2020-06-22 09:28] #771 closed

[2020-06-22 20:38] sambostock opened #773 "Exotic rescue error capturing not specified"
The idiomatic way to capture exceptions is to assign to a local variable

[code]

However, other kinds of LVALUEs also work

[code]

but none of them are documented in specs.

----

cc. @chrisseaton

[2020-06-23 23:06] eregon commented on #765
I excluded Windows 2.5.8 from CI, I don't want to deal with this anymore and it's too confusing with `continue-on-error` in the UI: 440fea79f0d8cae566b0fa25708ba7810d65b3d4

[2020-06-23 23:06] #765 closed

[2020-06-24 04:40] sambostock opened #775 "Flakey test exceeds timeout on CI / specs (macos, 2.7.1)"
There is a test which occasionally exceeds the 30 second timeout on `CI / specs (macos, 2.7.1)`, causing the test suite to fail, even if the changes being tested haven't broken anything.

The following logs are from [this run](https://github.com/ruby/spec/runs/801867399?check_suite_focus=true)

[code]

[2020-06-24 10:21] eregon commented on #775
This is surprising because for me this spec runs in like 5ms.

I'd like to see another instance before bumping the timeout higher.

[2020-06-25 16:20] #773 closed

[2020-07-13 13:19] andrykonchin opened #779 "Linter to check code style"
I am wondering whether it makes sense to automate some code style rules (specific to RubySpec codebase) with linter (e.g. Rubocop)? Even if it requires adding custom rules/cops...

For instance linter could detect:
- declaring new classes/global methods
- using `-> {}.should_not raise_error`
- test name duplication (issue https://github.com/ruby/spec/issues/664)

[2020-07-19 18:04] eregon commented on #779
Currently RuboCop for ruby/spec is only run in this repo, not in CRuby, JRuby and TruffleRuby's copy of the specs.
It's kind of intentional, I don't want to bother people with overly strict style there, and it's usually trivial fixes when synchronizing.

I think for these 3 cases it's better in MSpec, in order:
* already implemented (with `CHECK_LEAKS=true`)
* could be a deprecation in MSpec (but

[2020-07-19 18:07] eregon commented on #779
Also, as much as possible, I'd also like to keep ruby/spec free of dependencies besides MSpec, including using such checks.

[2020-07-19 19:04] andrykonchin opened #780 "Specs for deprecated methods"
There are some deprecated/obsolete methods like `File.exists?`, `Thread#safe_level` etc in the core library.

Looks like they aren't covered with tests there and moreover some existing specs were deleted recently - `File.exists?`, `Dir.exists? and `FileTest.exists?` ([commit](https://github.com/ruby/spec/commit/79e4a3d7f5a2e81cefa824794ad82f704121dc7c)).

So I am wondering whether it is a well-con

[2020-07-19 19:57] #779 closed

[2020-07-20 16:02] eregon commented on #780
I agree, the specs should remain as long as there is a non-EOL version that supports it.

We just need to find a way to silence those deprecation warnings for the deprecated but ideally not for the non-deprecated methods.

[2020-08-19 21:52] headius opened #785 "File time specs depend on Linux-specific stat command"
The File time specs (atime, ctime, mtime) do not currently pass on Windows because they depend Linux-specific output of the "stat" command.

I believe this commit enabled these specs.

https://github.com/ruby/spec/commit/55cbf498a39a1086ca453e6137de5bf6d53bfda6

I suspect they are being run in CI against an environment that has installed additional unix tools, probably from whatever build harness

[2020-08-20 00:17] eregon commented on #785
Is there an alternative CLI tool that gives those times on Windows?

It seems most CIs have `stat` as this is the first report about it.
So I think documenting it might be a good way.
There are a few other CLI tools specs depend on like `which` and `find`.
Which CI do you run on BTW?

cc @MSP-Greg

[2020-08-20 00:52] MSP-Greg commented on #785
@headius

Please feel free to search thru all the test suites of Ruby and/or popular gems that call *nix utilities via a shell or command line and use the result for comparison with results of the tested code.  I've been busy with other things, so I haven't taken the time to translate them to Windows PowerShell/Command script.

Because of that, enabling the MSYS2 tools is common in CI.  The tools

[2020-10-05 22:04] andrykonchin opened #791 "Participate in Haktoberfest?"
DigitalOcean changed the rules and to opt-in a public GitHub repository should have a topic `hacktoberfest`. Does it make sense for RubySpec to join the Hacktoberfest this year?

Unfortunately I don't have permissions to add the topic myself so if the answer is yes could anybody set it up?

https://www.youtube.com/watch?v=FxBv4FMcDgo&ab_channel=DigitalOcean

[2020-10-06 09:48] eregon commented on #791
I'll add the topic and cross my fingers it doesn't lead to too much spam (which seems why that new rule was introduced).

I remember one of the past years hacktoberfest led to a lot of contributions but also of course a lot of PRs to review, so I would appreciate help from other ruby/spec maintainers & contributors for reviews :)

[2020-10-06 10:01] eregon commented on #791
Done, and tweeted: https://twitter.com/eregontp/status/1313419067404021761

[2020-10-06 10:01] #791 closed

[2020-10-06 10:02] eregon commented on #745
Note for contributors: please mention here which item/checkbox you'd like to add specs for, in order to avoid duplicated work.

[2020-10-07 09:18] lxxxvi commented on #745
Hi @eregon

I believe you can mark this as completed

`Symbol#end_with?`: https://github.com/ruby/spec/commit/c51c102ceb1966839e8febca927771ab9d04829f

`Symbol#start_with?`: https://github.com/ruby/spec/commit/7377c2b0ad8bee9603646b5a7bc4db2176918c4a

[2020-10-07 16:36] moofkit commented on #745
And this looks like completed too

https://github.com/ruby/spec/commit/d3c12442817a4f2582659d43eba0017e81d5159b

[2020-10-08 11:57] lxxxvi commented on #745
@eregon

How could I cover this one?

As far as I understand there's already a `Enumerable#minmax` spec which uses Arrays... so it's already tested?

[2020-10-08 15:46] eregon commented on #745
@lxxxvi In that case we could just add a new file and check `Array.should have_instance_method(:minmax)`, and a comment saying the behavior is tested in the `core/enumerable/minmax_spec.rb`.

I don't see Arrays being used (as receivers) in https://github.com/ruby/spec/blob/bc1942130ba064d7759f4e91e84ff6b126b2c721/core/enumerable/minmax_spec.rb though, so I think best is to copy that file and adapt

[2020-10-08 18:14] moofkit commented on #745
And this one completed:
https://github.com/ruby/spec/commit/61092f3c9e3e66b27c780ae274fc7c855cfbbfc7
https://github.com/ruby/spec/commit/574b5c05fa17955abecfe0cd4cfe3e1866b2063d

[2020-10-19 08:02] kuei0221 commented on #745
values. Feature #16035

It seems this case has already been covered in this commit https://github.com/ruby/spec/commit/47be917309aba997f3e353046a28296a41f95e46, can you please check?

[2020-10-19 09:43] eregon commented on #745
@kuei0221 Indeed, I now checked the box.

[2020-10-20 04:40] HeroProtagonist commented on #745
^ PR for

no longer have an effect (all objects are always considered untainted), and are now
warned in verbose mode. This warning will be disabled even in non-verbose mode in
Ruby 3.0, and the methods and C functions will be removed in Ruby 3.2. Feature #16131

[2020-10-24 13:06] eregon commented on #745
61/70 done, we're almost there!

[2020-10-24 16:55] MSP-Greg opened #808 "Windows mswin - ruby-loco failure - capi/thread_spec.rb"
Not sure where to open an issue.  This happened in the most recent ruby-loco mswin build.  Full CI is not done on the mswin build in ruby/ruby.  Note that test-all did pass.  Looks like a 'c thing',

Assume it's due to the recent commit [`Update to ruby/spec@4f59d86`](https://github.com/ruby/ruby/commit/148961adcd07)

See:
https://github.com/MSP-Greg/ruby-loco/runs/1302547223?check_suite_focus=tru

[2020-10-25 10:53] eregon commented on #808
https://github.com/ruby/ruby/commit/99e067eac6fd2babcdd56142493ef0396744af85 should fix it, hopefully.
(there is also some discussion on https://github.com/ruby/spec/commit/3415df79eecd5fc519eccbee88938f2873b55fd9)

[2020-10-25 10:53] #808 closed

[2020-10-25 14:41] MSP-Greg commented on #808
@eregon

Thanks.  I know in the past that you didn't want to test against master, but the master/head builds used today are fully tested, unlike many of the builds available before ruby/setup-ruby.  You did write many of the build scripts.  In some of the repos I'm involved with, we're running most of the master/head builds as a normal job, not 'allow-failure'.

Just a thought...

[2020-10-26 00:32] eregon commented on #808
ruby/ruby does change specs directly (for the future Ruby version), so testing ruby-head in this repo would fail and it is fully expected. So there is no point to test it here because "fail" would not mean an issue, and solving that failure would just be duplicated work with changes in ruby/ruby.

[2020-10-26 01:13] MSP-Greg commented on #808
You know better than I about how often changes move in each direction.

My point is that, assuming spec is synced between here and ruby/ruby, and all the builds available for CI are passing test-spec in ruby/ruby, using head builds here would show that new specs (added here) passed head CI.

But, this particular instance is different, because it's a platform (mswin) issue that would have been appa

[2020-10-26 07:04] eregon commented on #808
They are, but only for a few hours once a month just after I synchronize. Any other time than that there might be changes in ruby/ruby that are not propagated to ruby/spec yet but are needed to make the specs pass on ruby master.

We'd need automatic synchronization ruby/ruby -> ruby/spec to really make this work, and that has never been implemented so far.

[2020-11-23 17:47] iliabylich opened #817 "dynamically require language specs for used ruby version"
So basically I'm looking at language specs and all of them use `eval` for new Ruby syntax. Because of that `language` specs can't be easily used to validate parsers/unparsers.

Is there any chance to extract these features into separate files, require them dynamically if `ruby_version_is <supported>` and drop `eval` calls?

[2020-11-23 17:53] eregon commented on #817
Not really, because that would make it so much harder to see both the tested code and the expectations/tests on it.
I think that was used a long time ago in 1.8/1.9 and from what I got it was a nightmare to maintain.
I already don't like too much the separation between fixtures and spec files.

However, you might be able to either scan for `eval()` calls and try parsing the given string (if it's a

[2020-11-23 17:56] iliabylich commented on #817
Yeah, this should work.

These literals can be dynamic. I didn't check the code, but it's possible. Well, I guess I could just ignore them (they are different str/dstr nodes anyway). Thanks!

[2020-11-23 17:56] #817 closed

[2020-12-12 23:29] chrisseaton opened #820 "Document sync process"
I'm interested in the process you're using to take commits from implementation repos and apply just the parts for specs in a different directory structure here.

Is that documented somewhere?

[2020-12-13 12:12] eregon commented on #820
Yes, there is a wiki page about it:
https://github.com/ruby/spec/wiki/Merging-specs-from-JRuby-and-other-sources

Nowadays I use a script to do that work (it also works for ruby/mspec in addition to ruby/spec):
https://github.com/ruby/mspec/blob/master/tool/sync/sync-rubyspec.rb

As more background, I initially used `git subtree` but `git subtree split` at some point broke (couldn't find some comm

[2020-12-13 12:12] #820 closed

[2020-12-13 13:30] chrisseaton commented on #820
Thanks I didn't find this because it looks like there is a comprehensive `CONTRIBUTING.md` so I didn't also go looking for the Wiki. Could we reference the wiki from the contributing file, or include the wiki content in the contributing file?

[2020-12-13 13:33] eregon commented on #820
That wiki page is not kept up to date anymore (although it's probably pretty close to what the script does), since the script is what is actually used now.

I could add a link to the script in https://github.com/ruby/spec#synchronization-with-ruby-implementations, and potentially link to the wiki in the script in a comment, is that helpful?

[2020-12-13 13:34] chrisseaton commented on #820
Sounds good.

[2020-12-26 13:32] eregon commented on #820
Done.

[2020-12-26 14:15] chrisseaton commented on #820
Cheers.

[2020-12-30 14:59] andrykonchin commented on #745
@eregon  Is it time for new Ruby3-related issue?

[2020-12-30 15:12] eregon commented on #745
I'll try to make one soon.
It would be great to finish the last 5 items for this issue.

[2021-01-06 19:43] eregon commented on #745
Only 2 items left under `C API updates` now.

[2021-01-06 20:02] eregon opened #823 "Write specs for new Ruby 3.0 features and changes"
ruby/spec already contains some specs for 2.7, but we should aim to cover all new features and important changes.
This will improve the test coverage of these features (and maybe discover a few bugs along the way), allow other Ruby implementations to implement the changes faster with more confidence and document clearly the new behavior.

The new specs should be within a version guard block:
[code

[2021-01-06 20:04] eregon commented on #745
Issue for Ruby 3.0 specs: https://github.com/ruby/spec/issues/823

[2021-01-08 15:59] lxxxvi commented on #823
I think this is already covered and can be marked completed:

https://github.com/ruby/spec/blob/7526ccb1ce706a8d6548cdc46d56bf89f1518412/core/symbol/to_proc_spec.rb#L32-L37

[2021-01-14 20:32] headius opened #828 "Cross-thread IO close spec is racy and unreliable"
This spec has a race that will cause it to fail sporadically:

https://github.com/ruby/spec/blob/7526ccb1ce706a8d6548cdc46d56bf89f1518412/core/io/close_spec.rb#L47-L61

The spec attempts to detect that the thread has started reading by checking for a thread state of "stopped". However the setting of the "stopped" status and the actual blocking `read` can't be done together as a single atomic opera

[2021-01-14 20:41] headius commented on #828
Example failure from JRuby:

[code]

This spec was tagged as a failure previously without addressing the race: https://github.com/jruby/jruby/commit/e0ee5a24d6cdb617243659d8ceae881146bbd28c

[2021-01-19 22:18] eregon commented on #828
So for this race to happen, we need a thread switch between "set Thread status to 'sleep'" and "call read(2)", right?
That seems quite unlikely, but indeed possible
I have no good idea how to fix it either.

It seems some MRI tests uses `sleep 0.01` to workaround it: https://github.com/ruby/ruby/blob/6d77e28763ed17f75edf3b4072701b4dbd7644bb/test/ruby/test_io.rb#L3412
That's hacky of course.

Maybe

[2021-01-21 16:52] eregon commented on #828
Right. I'm actually thinking the same race can result in EBADF (or worse, using the wrong IO), i.e., if `close(2)` is called between the potential early check-if-closed in `IO#read` and the `read(2)` syscall.

I guess the only way to avoid that would be to lock around the entire read(), and around close(), but then the problem turns to how to interrupt ongoing reads/writes when calling IO#close?
M

[2021-01-25 19:28] headius commented on #828
The changes you propose here might help, but they would be a significant difference from current CRuby behavior which allows concurrent operations against an IO (writing while blocked on read, etc). That sort of change is out of scope for this issue, since it would not address existing these specs running on existing Ruby versions. If you want to propose this change for CRuby directly I will parti

[2021-01-31 14:35] eregon commented on #828
@headius Could you make a PR to fix this (or fix it in JRuby's copy of ruby/spec)?
I think a limited number of tries (e.g., 10) is fine.
An extra `Thread.pass` or small `sleep(0.001)` before `read_io.close` seems also acceptable if it helps avoiding the race.

[2021-02-01 19:25] #828 closed

[2021-02-01 19:26] headius commented on #828
Rather eager autoclosing there, but I have pushed a change in jruby/jruby@fa49c58e4b that appears to make this spec reliable on JRuby. It is necessarily more complex than the original, but I am willing to entertain improvements.

[2021-02-01 19:29] eregon commented on #828
Thank you!

[2021-03-28 21:10] andrykonchin commented on #823
Revised the "Language changes" and "Core classes updates" sections and marked items that are already tested.

[2021-03-29 09:22] eregon commented on #823
Thanks!

[2021-03-29 09:33] #767 closed

[2021-04-18 18:50] eregon opened #835 "Dropping support for Ruby 2.5"
So far, ruby/spec has dropped support for a Ruby version soon after it became EOL.
Ruby 2.5 became EOL in https://www.ruby-lang.org/en/news/2021/04/05/ruby-2-5-9-released/

However, current JRuby releases (9.2.x) target Ruby 2.5.
JRuby's master targets Ruby 2.6, though.

Dropping Ruby 2.5 would mean it would be much harder to synchronize specs to & from the 9.2 branch (https://github.com/jruby/jru

[2021-07-13 16:38] headius commented on #835
JRuby 9.2 will not be EOL for at least the rest of the year. We will release 9.3 soon (2.6) and 9.4 later this year (3.0) but 9.2 will be in maintenance mode for 6-12 months (undecided, depends on adoption of 9.3 and release of 9.4).

JRuby's jruby-9.2 branch is periodically merged to master. Specs have not been updated there in quite some time.

Specs for things fixed in 9.2 will often go on the

[2021-07-13 17:24] eregon commented on #835
To simplify specs, so there is a smaller range of versions supported, it's a bit easier to maintain, and also to be able to use new features introduced in the minimum version, so in this case to be able to use Ruby 2.6 features in specs (and also in mspec).
As an example, endless Ranges could be nice for `ruby_version_is "2.7"... do`, as people are frequently confused with `ruby_version_is "2.7" d

[2021-07-29 19:53] #835 closed

[2021-08-13 04:16] macarthy opened #842 "Enumerable#chunk spec incorrect"
Hi, newbie here be kind, :-)

Re Enumerable#chunk
[code]
https://github.com/ruby/spec/blob/master/core/enumerable/chunk_spec.rb#L60

It appears that chunk does take an argument, and its kinda useful :-)
its missing in all the docs too.  Rdocs too etc.  [DOCS](https://docs.ruby-lang.org/en/master/Enumerable.html#method-i-chunk)

[code]

I'd like to help but I'm lost as to how?

If I try running ../

[2021-08-13 11:33] eregon commented on #842
Can you show an example?

That's not "an argument" that's a block, or maybe "the block arguments".
So I think chunk takes no positional or keyword arguments, it only accepts a block.
I think that's the misunderstanding here, so I'll close, but feel free to comment if it's not that.

Re the command you swapped it around, mspec must be before the spec file.

Re webrick you can just `gem install webr

[2021-08-13 11:33] #842 closed

[2021-08-13 11:39] eregon commented on #636
Let me close this as there is no specific action to do here.
Specs testing exception messages are welcome, they are part of the observable behavior, and it is frequent gems rely on it.

[2021-08-13 11:39] #636 closed

[2021-08-13 11:44] eregon opened #843 "Consider removing the dependency on webrick for specs"
WEBrick is not in stdlib anymore in Ruby 3+, and it has known concurrency bugs:
https://github.com/ruby/spec/blob/31792653e84b6f9b1891b62d6fae606231c12e20/library/net/http/http/fixtures/http_server.rb#L94-L98

Currently webrick is used in:
* library/net/http/http/fixtures/http_server.rb
* security/cve_2017_17742_spec.rb

The second we could just skip if webrick is not installed.

The first one see

[2021-08-13 14:11] #843 closed

[2021-08-13 14:57] macarthy commented on #842
thanks

[2021-10-05 16:02] moofkit commented on #823
Hi! It looks like already done by this commit https://github.com/ruby/spec/commit/10931592e0f7edb57829d990eed2600d726fb5a2

[2021-10-05 17:04] eregon commented on #823
@moofkit Yes, but that change doesn't check there is no warning in 3.0+. Could you add a spec in that file that check `-> { some pattern matching }.should not_complain`?

[2021-10-06 04:56] baweaver commented on #823
Will wait to go after Feature #16828 until I understand conventions for contributing to this repo.

[2021-10-06 05:23] baweaver commented on #823
Feature#16378 (Argument forwarding with leading arg) had been completed by the following commit:

https://github.com/ruby/spec/commit/b089bf7817d1fbe76d1ab752cb3744724bb2a825

[2021-10-07 15:42] eregon commented on #823
@JuanCrg90 Thanks! I noted those as done.

[2021-10-07 19:26] JuanCrg90 commented on #823
@eregon

  Warning#warn now supports a category keyword argument.
[Feature #17122]

Was already implemented on: https://github.com/ruby/spec/commit/05ff9d434c

[2021-11-03 11:05] eregon commented on #823
@marcandre I wonder, do you have specs for Ractor?
I know you wrote https://github.com/marcandre/backports/tree/master/lib/backports/ractor.
Or maybe you used CRuby tests to check it?

[2021-11-16 19:24] headius opened #898 "logname may not produce a login name"
Running the specs on JRuby on Github Actions, we see the following message and failing spec:

[code]

This can occur when `logname` is run without a controlling terminal. I'm unsure whether this GHA env is not setting up a tty, or if there's an issue launching the command in JRuby that prevents it inheriting the parent terminal, but it seems like `id` would be a more reliable command to use:

[cod

[2021-11-16 19:44] enebo commented on #898
On a related question.  MRI runs rubyspec in GHA right?  Is there some option we can provide to run the job with a pty/tty?

[2021-11-16 20:43] eregon commented on #898
ruby/spec's CI is on GHA, so it seems the current spec works fine on CRuby on GHA
Is it on `ubuntu-latest`?

If `id` works better than logname then it sounds fine to only try `id`.
In that case, please make a PR and let's see if the CI works with it.

[2021-11-16 20:45] eregon commented on #898
Maybe it's an issue of the JVM/JRuby not inheriting the controlling terminal for subprocesses?

[2021-11-16 20:54] eregon commented on #898
Since the code was using `which logname`, maybe for ruby/spec and ruby/ruby that command is not available but for JRuby's GHA setup it's installed and hence it'd only fail there?

The comment above does seem to indicate `logname` is preferable.

[2021-12-07 06:12] marcandre commented on #823
@eregon, oops, missed that notification, sorry.

Yes, I used CRuby tests to check my backport (and I was glad to have them all pass, except those that were checking that `MovedError` or similar).

[2021-12-08 17:15] hmdne opened #903 "core/class/descendants_spec relying on a particular GC behavior"
I'm implementing `Class#{subclasses,descendants}` in Opal. While in MRI GC may run quite consistently for this test to always pass, in Opal we have to rely on JS behavior - and it doesn't help us. A similar situation may happen on other Ruby implementations.

Let's take a look at this:

https://github.com/ruby/spec/blob/12c704ac53d4200610d48c50e0e5d1c4dd40aa82/core/class/descendants_spec.rb#L7

An

[2021-12-08 17:46] eregon commented on #903
Of course not, it's unintentional. Could you make a PR to fix it?
I think it's best to use a separate hierarchy for the descendants/subclasses tests to avoid unintentional subclasses like that one.

[2021-12-26 18:26] MSP-Greg opened #906 "Please revert #dbff2dc 'Add Class#descendants'"
See https://github.com/ruby/ruby/commit/3bd5f27f737c7d365b7d01c43d77a958c224ab16 'Remove Class#descendants'

[2021-12-26 18:29] eregon commented on #906
Will do when I sync specs from CRuby master, if you need it earlier please make a PR removing that file.

[2021-12-26 18:39] MSP-Greg commented on #906
RubyInstaller2 runs non Ruby master builds against this, I think it's the only issue, I'll check.

cc: @larskanis

[2021-12-26 18:49] MSP-Greg commented on #906
See #907  Happy Holidays...

[2021-12-26 19:13] larskanis commented on #906
Thanks @MSP-Greg for the PR! Yes it fails [here in rubyinstaller](https://github.com/oneclick/rubyinstaller2/runs/4637052326?check_suite_focus=true). It's fine if it could be fixed soon, but it's no showstopper if not.

[2022-01-04 18:33] eregon commented on #906
Thanks for the PR, merged.

[2022-01-04 18:33] #906 closed

[2022-02-25 08:11] gengle commented on #823
Approving this as is.  There is a lot of unrelated boilerplate that could be refactored when an opportunity comes up with a future redesign.

[2022-02-28 12:04] eregon opened #923 "Write specs for new Ruby 3.1 features and changes"
ruby/spec already contains some specs for 3.1, but we should aim to cover all new features and important changes.
This will improve the test coverage of these features (and maybe discover a few bugs along the way), allow other Ruby implementations to implement the changes faster with more confidence and document clearly the new behavior.

The new specs should be within a version guard block:
[code

[2022-03-24 14:20] headius opened #925 "TCPSocket specs hang if client doesn't connect"
The TCPSocket#initialize specs will hang if the client socket does not connect to the server, since the shutdown for the server expects that it will have handled a request and be wrapping up here:

https://github.com/ruby/spec/blob/master/library/socket/fixtures/classes.rb#L125-L129

I found this while adding support for the new `connect_timeout` keyword; we do not support hash arguments on TCPSoc

[2022-03-24 14:35] eregon commented on #925
Good find, PR welcome.
Ideally we'd find a way which is not racy and doesn't involve Thread#kill (tends to be messy with open IO).

[2022-03-31 18:07] headius commented on #925
Thanks for fixing the typos. I had hoped to avoid swallowing errors during the `accept` or `close` calls but given the races involved I think that may be unavoidable.

I believe it should be expected of all Ruby specs that they can set up and tear down cleanly without any expectation that the spec body runs successfully. That is clearly not the case here, since numerous kinds of failures in the sp

[2022-06-30 09:19] voxik opened #932 "Zlib.crc32 calculates CRC checksum for string and initial CRC value FAILED"
Today for the first time, the Ruby build on Fedora [failed](https://koschei.fedoraproject.org/build/13150895) with the following error

[code]

It seems that one of the changes is the zlib update from 1.2.11-31.fc36 to 1.2.12-1.fc37.

The same issue can be seen in Ruby CI:

https://rubyci.org/logs/rubyci.s3.amazonaws.com/funtoo/ruby-2.7/log/20220427T080138Z.diff.html.gz

and the diff also indicate

[2022-06-30 13:47] ljavorsk commented on #932
I apologize for this problem. I made a pretty big zlib rebase yesterday and I should've provided it in the private copr repository for deeper testing.

I've asked the Fedora Releng team to untag this build, so it should be fine again.

I'll fix the new release and provide the repository for testing purposes when it's ready

[2022-06-30 14:05] mscastanho commented on #932
This could be related the issue fixed by [this zlib commit](https://github.com/madler/zlib/commit/ec3df00224d4b396e2ac6586ab5d25f673caa4c2).

[2022-07-05 11:47] eregon commented on #932
Let's close, it seems an incompatibility/bug from zlib, which sounds like it will get fixed to be the same as before.

FWIW I know of 1 ABI issue with zlib in
https://github.com/ruby/spec/blob/ab32a1a4d737595a6193682728c8d510e135c99e/library/zlib/crc_table_spec.rb#L4-L11
But that sounds fair enough given get_crc_table() is an "undocumented function".

[2022-07-05 11:47] #932 closed

[2022-07-07 09:35] ljavorsk commented on #932
The Fedora zlib RPMs with the commit above applied are available for testing, could you please test them and let me know if the issue is fixed?

You can download them here: https://ljavorsk.fedorapeople.org/zlib/

[2022-07-07 18:15] voxik commented on #932
@pvalena, @junaruga, @jackorp could you please help me and try the updated zlib and see if it resolves the issue above?

[2022-07-07 18:49] jackorp commented on #932
I am taking a look using the RPMs from @ljavorsk's link.

[2022-07-08 07:56] ljavorsk commented on #932
Okay, please let me know as soon as you can if I can push this release to Fedora Rawhide.

The releng team is pinging me for having this fixed ASAP.

Thank you for the help :)

[2022-07-08 08:32] jackorp commented on #932
The failure is not zlib related, as it is related to directory permission manipulation.

This seems like the commit that fixes it: https://github.com/rubygems/rubygems/commit/623162ad2bb3b589bddcc32616492a2bc4651726

[2022-07-19 10:10] makketagg commented on #923
@eregon pls update url for news - https://github.com/ruby/ruby/blob/master/doc/NEWS/NEWS-3.1.0.md

[2022-07-19 10:31] eregon commented on #923
Done, thanks.

[2022-08-04 18:17] headius opened #935 "Better testing for finalization"
While attempting to write a spec for jruby/jruby#7267 I ran into various issues and questions...

1. There are no specs testing that GC eventually finalizes objects. This is obviously difficult to predict, but it is behavior I believe we should be testing one way or another.
2. I was testing that exceptions in one finalizer are not seen by the next finalizer, but could not figure out a way to elim

[2022-08-06 11:01] eregon commented on #935
We've tried in the past and it seems near-impossible to have a reliable test for this unfortunately.
PR welcome of course if you find one way.

GC in a loop is also something I tried but it's 1) very slow 2) still doesn't finalize sometimes.
Also on CRuby because of the conservative GC it's completely possible some object never gets finalized even though it is semantically unreachable.

My take is

[2022-08-06 11:04] eregon commented on #935
One possibility might be to rely on the fact CRuby runs finalizers on exit, and use that as a way of testing finalizers aspects other than "they happen when the object is GC'd".
However, IIRC that's actually tricky to implement as there might be ordering rules between objects (based on what they reference) and which object should finalize first. I'm not sure how CRuby deals with that.

[2022-08-16 08:11] voxik opened #936 "Failures with tzdata-2022b"
With update of tzdata in Fedora from 2022a to 2022b, I started to observe several test failures:

[code]

Reporting this against [tzdata](https://bugzilla.redhat.com/show_bug.cgi?id=2118259), I was told that this is expected change and the test needs to be fixed. Not sure if the correct change is bumping the year from 1940 => 1970 though, because it seems that 1940 was originally chosen on purpose

[2022-08-16 10:21] eregon commented on #936
Interesting, so `Europe/Amsterdam` in 1940 is not CEST but "WEST"?
Does the test pass by changing to 1970? PR welcome BTW.

Because of https://github.com/ruby/spec/commit/fb2bf67c3575ec3357dc883cbe6d927930c1a53c ?

Changing the expectation to WEST wouldn't work against older tzdata, so using a different year seems more reliable.

[2022-08-18 19:08] Ilaygoldman opened #937 "Link to repository that no longer exists in README.md"
Hi Everyone.
In the read me file under the section of "Socket specs from rubysl-socket" you have the text "the rubysl-socket project" hyperlinked to "https://github.com/rubysl/rubysl-socket" which no longer exists and may be opened by anyone.
Please delete the reference.

Have a good day :)

[2022-08-19 11:16] #937 closed

[2022-08-23 16:28] junaruga commented on #936
I investigated this issue.

It seems that the commit above added the test cases. But according to [the comment](https://bugzilla.redhat.com/show_bug.cgi?id=2118259#c1) for tzdata RPM package issue ticket on Fedora, and checking the [tzdata project](https://www.iana.org/time-zones), here is the caused commit. This is intentional. The change is new in tzdata version "2022b".

https://github.com/egge

[2022-08-23 16:37] eregon commented on #936
Could you make a PR with that?

Also would it work to change 1940 by 1970? I think that would be simpler.

[2022-08-23 16:41] junaruga commented on #936
Sure. I will send the PR with the 1970.

[2022-08-24 12:07] junaruga commented on #936
I sent the PR: https://github.com/ruby/spec/pull/939.

[2022-08-24 12:17] #936 closed

[2022-09-16 02:00] rubyFeedback opened #944 "[Notice, please feel free to close it] Natalie"
Hey benoit and others,

This is just a notice - please feel free to close this at any moment in time.

I only recently found Natalie.

Tim's todo list is about 1124 tests failing, 6507 working already. :D

See here: https://natalie-lang.org/

I am a bit curious about natalie primarily from a GUI centric point of
view so I am watching it. So the whole point of this issue here is
really just to "cro

[2022-10-02 21:33] borela opened #946 "Safe navigation for square brackets"
Currently we've got safe navigation:
[code]
And if we need to use `[]`, we have to explicitly call:
[code]
Is there any proposal to combine the square brackets with safe navigation? For example:

[code]

[2022-10-03 10:35] eregon commented on #946
Feature requests are at bugs.ruby-lang.org/ not here

[2022-10-03 10:35] #946 closed

[2022-10-03 17:51] borela commented on #946
Will do, thanks.

[2022-10-08 04:06] citizen428 commented on #923
It seems the spec for `Array#intersect?` already exists at `core/array/intersect_spec.rb`.

I'll add one for `Struct#keyword_init?` now.

[2022-10-08 13:39] ytjmt commented on #923
It seems `Core classes updates` specs below already exist.

- Class
  - `Class#subclasses`
    - 3b7273f0b1c63c5aafe7295ab59e8c82bf2a3124
- Enumerable
  - `Enumerable#compact is added`
    - https://github.com/ruby/spec/pull/933
  - `Enumerable#tally now accepts an optional hash to count`
    - 085270e1dae62e2b2418d651b325e05d66a100d7
- File
  - `File.dirname now accepts an optional argument for t

[2022-10-08 15:37] ohbarye commented on #923
I'll work on this one.

[2022-10-09 10:06] eregon commented on #923
@ytjmt Thank you, this is really helpful, I checked the done items in the list.

Also I would like to take this occasion to thank @byroot @makketagg @kachick @nobu @bjfish @jeremyevans @duerst @chrisseaton @znz for contributing those specs, most of them done as soon as the feature got implemented, that is really great and helpful.

[2022-10-09 10:36] eregon commented on #944
I also learned about Natalie somewhat recently, it looks like a really cool and fun project.
It is however still a long way to be a fully compatible Ruby, there are 31417 examples in total, so 7038 / 31417 = 22.4% passing.

[2022-10-09 10:36] #944 closed

[2022-10-11 04:14] citizen428 commented on #923
Has already been implemented: https://github.com/ruby/spec/blob/master/language/pattern_matching_spec.rb#L1332-L1342

[2022-10-25 15:51] eregon opened #971 "CLeanup proc_spec.rb and block_spec.rb"
Currently it's a mess with lambda in proc_spec.rb.

Proposed organization:
* block_spec.rb: only passing a block to something else
* lambda_spec.rb: as it is, lambda semantics
* proc_spec.rb: remove `lambda` in it, and move most of block_spec.rb, so it's about Proc semantics.

[2022-10-25 15:55] eregon commented on #971
On further thought, I think we should not have `block_spec.rb`, it's too confusing.
And lambda_spec.rb is mostly redundant with `method_spec.rb` in terms of argument handling, so I don't mind if lambda isn't tested in many cases, it's the same anyway.

So then we have a clear proc_spec.rb vs lambda_spec.rb separation, and no "block" to confuse us.